In [1]:
import pandas as pd
import numpy as np
import re
import recordlinkage
import pickle
import matplotlib.pyplot as plt
import Algorithmia

In [2]:
with open('../Data/all_muckrack_links.pkl', 'rb') as f:
    authors = pickle.load(f)
    
with open('../Data/news.pkl', 'rb') as f:
    news = pickle.load(f)
    
emails = pd.read_csv("../Data/compression_test.txt.gz", compression='gzip',sep = '\t')
emails = emails.fillna("")
emails = emails[['email_address', 'first_name_df', 'second_name_df']]

In [3]:
def first_name(url):
    return url[21:].split('-')[0]
first_name('https://muckrack.com/rafael-olmeda')

'rafael'

In [4]:
def author_outlet(author):
    return news[news.author == author].site_name.value_counts().index[0]

In [5]:
def concatenate_fields(author, outlet):
    return author + ' ' + outlet

In [6]:
authors['first_name_df'] = authors.apply(lambda x: first_name(x['request_url']), axis=1)

In [7]:
authors['common_outlet'] = authors.apply(lambda x: author_outlet(x['author']), axis=1)

In [8]:
authors['author + outlet'] = authors.apply(lambda x: concatenate_fields(x['author'], x['common_outlet']), axis=1)

In [9]:
authors

,author,article_count,request_url,redirect_url,method,confidence,first_name_df,common_outlet,author + outlet
0,Neil Shaw,523,https://muckrack.com/neil-shaw,https://muckrack.com/neil-shaw-1,brute force,-,neil,WalesOnline,Neil Shaw WalesOnline
1,James Rodger,512,https://muckrack.com/james-rodger,https://muckrack.com/james-rodger,brute force,-,james,BirminghamLive,James Rodger BirminghamLive
2,Jack Davis,251,https://muckrack.com/jack-davis,https://muckrack.com/jack-davis,brute force,-,jack,The Western Journal,Jack Davis The Western Journal
3,Adam Wells,223,https://muckrack.com/adam-wells,https://muckrack.com/adam-wells,brute force,-,adam,Bleacher Report,Adam Wells Bleacher Report
4,Sophie McCoid,218,https://muckrack.com/sophie-mccoid,https://muckrack.com/sophie-mccoid,brute force,-,sophie,Liverpool Echo,Sophie McCoid Liverpool Echo
...,...,...,...,...,...,...,...,...,...
3833,Levi Sumagaysay,10,https://muckrack.com/levi-sumagaysay,https://muckrack.com/levi-sumagaysay,brute force,-,levi,MarketWatch,Levi Sumagaysay MarketWatch
3834,Ben Ashford,10,https://muckrack.com/ben-ashford,https://muckrack.com/ben-ashford,brute force,-,ben,Mail Online,Ben Ashford Mail Online
3835,Craig Brown,10,https://muckrack.com/craig-brown,https://muckrack.com/craig-brown,brute force,-,craig,Mail Online,Craig Brown Mail Online
3836,Courtney Connley,10,https://muckrack.com/courtney-connley,https://muckrack.com/courtney-connley,brute force,-,courtney,CNBC,Courtney Connley CNBC
3837,MATTHEW PERRONE,10,https://muckrack.com/matthew-pera,https://muckrack.com/matthew-pera,tfidf match,0.83,matthew,chicagotribune.com,MATTHEW PERRONE chicagotribune.com

In [10]:
indexer = recordlinkage.Index()
indexer.block('first_name_df')
candidate_links = indexer.index(authors, emails)
print("candidate_links:", len(candidate_links))

candidate_links: 1296083

In [11]:
emails

,email_address,first_name_df,second_name_df
0,rating@mail.ru,,
1,xb3@mail.ru,,
2,info@aktiencheck.de,,
3,legals@heartmediact.com,,
4,8b4e078a51d04e0e9efdf470027f0ec1@sentry.wixpre...,,
...,...,...,...
2574181,hyzhenhua@mail.tzptt.zj.cn,,
2574182,hyzgkxni@gmail.com,,
2574183,hyzbhtbq@ygfqvw.com,,
2574184,hyzb@uibe.edu.cn,,
2574185,zzzzzzzzzz7732@mail.ru,,

In [12]:
compare_cl = recordlinkage.Compare()
compare_cl.string('author + outlet', 'email_address', label = 'match')
features = compare_cl.compute(candidate_links, authors, emails)

In [13]:
features

                 match
0    7751     0.222222
     11897    0.222222
     28036    0.142857
     30146    0.142857
     58595    0.206897
...                ...
3833 2194924  0.161290
     2194925  0.111111
     2194926  0.222222
     2194927  0.222222
     2194942  0.148148

[1296083 rows x 1 columns]

In [14]:
author_indexes = set()
for i in features[features.match >= 0.5].index:
    author_indexes.add(i[0])

In [15]:
data = features[features.match >= 0.5].sort_index(level = [0, 1], sort_remaining = False)

In [16]:
data

                 match
1    2080352  0.551724
11   205311   0.500000
     314799   0.500000
33   38933    0.533333
     947087   0.533333
...                ...
3816 438843   0.600000
     1598269  0.560000
3830 687117   0.500000
3832 34788    0.512821
3833 152891   0.677419

[1842 rows x 1 columns]

In [17]:
data.loc[33].sort_values('match', ascending = False).head(1)

          match
38933  0.533333

In [18]:
matches = pd.DataFrame (columns = ['author_index', 'email_index', 'match_threshold', 'found_url'])

In [19]:
matches

Empty DataFrame
Columns: [author_index, email_index, match_threshold, found_url]
Index: []

In [20]:
for i in author_indexes:
    temp = data.loc[i].sort_values('match', ascending = False).head(1)
    row = pd.Series(list([i, temp.index[0], round(temp.match.values[0], 3), '-']), index = matches.columns)
    matches = matches.append(row, ignore_index = True)

In [21]:
matches[matches.author_index == 3816]

    author_index email_index  match_threshold found_url
386         3816      438843              0.6         -

In [22]:
client = Algorithmia.client('simVvn80bx8D0mbOH5JC8nk6hb11')
algo = client.algo('specrom/Google_scraper/0.1.4')
algo.set_options(timeout=300) # optional

In [23]:
matches

    author_index email_index  match_threshold found_url
0              1     2080352            0.552         -
1           2054     1764154            0.560         -
2             11      205311            0.500         -
3           2061        2958            0.548         -
4           2074      312243            0.615         -
..           ...         ...              ...       ...
408         1989        6443            0.538         -
409         2011      785848            0.581         -
410         2022      809326            0.625         -
411         2023        5612            0.528         -
412         2025      244081            0.500         -

[413 rows x 4 columns]

In [36]:
for i in range(len(matches)):
    print()
    print(authors.iloc[int(matches.iloc[i].author_index)].method)
    if authors.iloc[int(matches.iloc[i].author_index)].method == 'no match':
        matches.loc[i, 'found_url'] = 'invalid'
        print("not found", i)
    else:
        original_link = authors.iloc[int(matches.iloc[i].author_index)].redirect_url
        email = emails.iloc[int(matches.iloc[i].email_index)].email_address
        query = {"query": f"{email} muckrack"}
        results = algo.pipe(query).result
        if results and original_link == results[0]['url']:
            matches.loc[i, 'found_url'] = 'yes'
            print("found", i, email, original_link, results[0]['url'])
        else:
            matches.loc[i, 'found_url'] = 'no'
            print("not found", i, email, original_link)

brute force
not found 0 james.fowler@birminghamal.gov https://muckrack.com/james-rodger

brute force
not found 1 david.gallina@laerdal.com https://muckrack.com/david-hall

brute force
not found 2 jenna.ciccotelli@globe.com https://muckrack.com/jenna-ciccotelli

brute force
not found 3 anthony.colangelo@theage.com.au https://muckrack.com/anthony-colangelo

brute force
not found 4 paul.doyle@theguardian.com https://muckrack.com/paul-doyle

tfidf match
not found 5 matthew.cooper@latimes.com https://muckrack.com/matthew-cooper-3

brute force
not found 6 helen.barnes@citypress.co.uk https://muckrack.com/helen-kelly

brute force
not found 7 stuart.patterson@the-sun.co.uk https://muckrack.com/stuart-ballard

brute force
not found 8 claire.norman@foe.co.uk https://muckrack.com/claire-anderson

brute force
not found 9 beth.mishler-elmore@heavy.com https://muckrack.com/beth-mishler-elmore

brute force
not found 10 sophie.portas@faber.co.uk https://muckrack.com/sophie-harris

brute force
not found 11 alex_brotman@comcast.com https://muckrack.com/alex-putterman

brute force
not found 12 niomi.harris@mailonline.co.uk https://muckrack.com/niomi-harris

brute force
not found 13 jessica.chen@dallasnews.com https://muckrack.com/jessica-schladebeck

brute force
not found 14 brian.lininger@veeva.com https://muckrack.com/brian-mazique

brute force
not found 15 andrea.reichertz@gmail.com https://muckrack.com/andrea-reiher

brute force
not found 16 rebekah.cavanagh@news.com.au https://muckrack.com/rebekah-evans

brute force
not found 17 kayla.boys@gmail.com https://muckrack.com/kayla-dwyer

brute force
not found 18 connie.rusk@mailonline.co.uk https://muckrack.com/connie-rusk

brute force
not found 19 rebecca.millard@experis.co.uk https://muckrack.com/rebecca-miller

brute force
not found 20 cathy.owen@walesonline.co.uk https://muckrack.com/cathy-owen

brute force
not found 21 david.matthews@mckesson.com https://muckrack.com/david-matthews

brute force
not found 22 amanda.drane@chron.com https://muckrack.com/amanda-blanco

brute force
not found 23 childs.walker@baltsun.com https://muckrack.com/childs-walker

brute force
not found 24 katie.e@blackpress.ca https://muckrack.com/katie-sewell

brute force
not found 25 david.campbell@iter.org https://muckrack.com/scoopsports

brute force
not found 26 andy.murrill@newburynews.co.uk https://muckrack.com/andy-wilson

brute force
not found 27 katie.walker@epigenesys.org.uk https://muckrack.com/katie-palmer

brute force
not found 28 charlotte.edwards@experis.co.uk https://muckrack.com/charlotte-mcintyre

brute force
not found 29 rachel.west@hottytoddy.com https://muckrack.com/rachel-rice

brute force
not found 30 austin.boyd@heavy.com https://muckrack.com/austin-boyd

brute force
not found 31 emily.ferguson@ti-media.com https://muckrack.com/emily-ferguson

brute force
not found 32 emma.munbodh@mirror.co.uk https://muckrack.com/emma-munbodh

brute force
not found 33 steve.smith@ashurst.com https://muckrack.com/steve-smith

brute force
not found 34 mike.roper@mac.com https://muckrack.com/mike-greger

brute force
not found 35 stephanie.edison@kw.com https://muckrack.com/stephanie-dube-dwilson

brute force
not found 36 edward.tran@katten.co.uk https://muckrack.com/edward-browne

brute force
not found 37 theresa.chan@raywhite.com https://muckrack.com/theresa-braine

tfidf match
not found 38 bryony.jewell@mailonline.co.uk https://muckrack.com/bryony-jones

brute force
not found 39 becca.watters@heavy.com. https://muckrack.com/becca-watters

brute force
not found 40 adam.clayton@experis.co.uk https://muckrack.com/adam-chapman

brute force
not found 41 danielle.hagel@coresite.com https://muckrack.com/danielle-ohl

brute force
not found 42 jack.wright@mailonline.co.uk https://muckrack.com/jack-wright

brute force
not found 43 michelle.marshall@symetra.com https://muckrack.com/michelle-marshall

brute force
not found 44 rebecca.davis@enmu.edu https://muckrack.com/rebecca-davis

brute force
not found 45 rachel.cass@genesispr.co.uk https://muckrack.com/rachel-russell

brute force
not found 46 mike.mcmillan@medline.com https://muckrack.com/bianchiwrites

brute force
not found 47 mark.miller@lodders.co.uk https://muckrack.com/mark-taylor

brute force
not found 48 gary.jones@eastherts.gov.uk https://muckrack.com/gary-jones

brute force
not found 49 sophie.cox@archant.co.uk https://muckrack.com/sophie-foster-60676

brute force
not found 50 alexandra.lang@opes.ch https://muckrack.com/alexandra-pastore

brute force
not found 51 michael.morris@picton.co.uk https://muckrack.com/michael-moran

brute force
not found 52 harriet.hughes@experis.co.uk https://muckrack.com/harriet-mallinson

brute force
not found 53 michael.schneider@mlp.de https://muckrack.com/franklinavenue

brute force
not found 54 charlotte.edwards@experis.co.uk https://muckrack.com/charlotte-manning

brute force
not found 55 jessica.gibb@the-sun.co.uk https://muckrack.com/jessica-knibbs

tfidf match
not found 56 christopher.herting@googlemail.com https://muckrack.com/christopher-keane

brute force
not found 57 nelson.oliveira@newsday.com https://muckrack.com/nelson-oliveira

brute force
not found 58 katie.moore@cjonline.com https://muckrack.com/katie-rice

brute force
not found 59 david.estcourt@theage.com.au https://muckrack.com/david-estcourt

brute force
not found 60 melanie.latham@hkw.co.uk https://muckrack.com/melanie-kaidan

brute force
not found 61 kate.dennett@mailonline.co.uk https://muckrack.com/kate-dennett

brute force
not found 62 jemma.carr@mailonline.co.uk https://muckrack.com/jemma-carr

brute force
not found 63 simon.horner@gcw.co.uk https://muckrack.com/simon-osborne

brute force
not found 64 robyn.sidersky@pilotonline.com https://muckrack.com/robyn-sidersky

brute force
not found 65 brian.dohn@dailynews.com https://muckrack.com/brianniemietz

brute force
not found 66 kevin.canfield@tulsaworld.com https://muckrack.com/kevin-canfield

brute force
not found 67 jessica.harris@elegantresorts.co.uk https://muckrack.com/jessica-earnshaw

brute force
not found 68 elisabeth.buchwald@marketwatch.com https://muckrack.com/buchelisabeth

brute force
not found 69 jeff.kovaleski@kokomotribune.com https://muckrack.com/jeff-vorva

brute force
not found 70 joanna.crawley@mailonline.co.uk https://muckrack.com/joanna-crawley

brute force
not found 71 sebastian.mattsson@expressen.se https://muckrack.com/sebastian-kettley

brute force
not found 72 jerry.holt@startribune.com https://muckrack.com/jdavich

brute force
not found 73 joseph.hoyt@dallasnews.com https://muckrack.com/joe_f_wilkinson

brute force
not found 74 jason.zasky@heavy.com. https://muckrack.com/jason-zasky

brute force
not found 75 anthony.armor@gmail.com https://muckrack.com/anthony-marcusa

brute force
not found 76 anna.boone@startribune.com https://muckrack.com/anna-kim

brute force
not found 77 janine.yaqoob@mirror.co.uk https://muckrack.com/janine-yaqoob

brute force
not found 78 kylie.stevens@mailonline.com https://muckrack.com/kylie_stevens80

brute force
not found 79 ellie.phillips@mailonline.co.uk https://muckrack.com/elliephillipsuk

brute force
not found 80 emily.riley@radian.com https://muckrack.com/emily-brindley

brute force
not found 81 richard.cole@taylor-rose.co.uk https://muckrack.com/richard-percival

brute force
not found 82 george.dodd@newsquest.co.uk https://muckrack.com/george-simpson

brute force
not found 83 gill.clark@heavy.com https://muckrack.com/gill-clark

brute force
not found 84 emily.worthington@prospects.co.uk https://muckrack.com/emily-hodgkin

brute force
not found 85 jonathan.blum@bofa.com https://muckrack.com/jonathan-adams

brute force
not found 86 emer.scully@mailonline.co.uk https://muckrack.com/emer-scully

brute force
not found 87 jessica.mcbride@heavy.com. https://muckrack.com/jessica-mcbride

tfidf match
not found 88 paul.atherley@pensana.co.uk https://muckrack.com/paul-willuck

brute force
not found 89 eli.becht@heavy.com https://muckrack.com/elibecht

brute force
not found 90 jessica.williams@jonlee.co.uk https://muckrack.com/jessica-williams

brute force
not found 91 sarah.solar@gmail.com https://muckrack.com/sarah-m-wojcik

brute force
not found 92 katherine.denham@ft.com https://muckrack.com/katjdenham

brute force

not found 93 david.fanner@theguardian.com https://muckrack.com/david-hytner

brute force
not found 94 karen.kucher@sduniontribune.com https://muckrack.com/karen-caffarini

brute force
not found 95 chelsia.marcius@thedailybeast.com https://muckrack.com/chelsia-marcius

brute force
not found 96 sarah.bradbury@remax.net https://muckrack.com/sarah-bradbury

brute force
not found 97 alex.kaufman@canaries.co.uk. https://muckrack.com/alex-shipman

brute force
not found 98 enrique.lanuza@uv.es https://muckrack.com/enrique-dans

brute force
not found 99 mark.duell@mailonline.co.uk https://muckrack.com/mark-duell

brute force
not found 100 james.robinson@mailonline.co.uk https://muckrack.com/james-robinson

tfidf match
not found 101 lisa.paulashouse@gmail.com https://muckrack.com/lisa-jhung

brute force
not found 102 beth.heyn@heavy.com. https://muckrack.com/beth-heyn

brute force
not found 103 anthony.armor@gmail.com https://muckrack.com/anthony-salamone

tfidf match
not found 104 douglas.busvine@tr.com https://muckrack.com/douglas-burns

brute force
not found 105 sam.baker@mailonline.co.uk https://muckrack.com/sam-baker

brute force
not found 106 elizabeth.gravier@nbcuni.com https://muckrack.com/elizabeth-gravier

brute force
not found 107 pat.aidem@dailynews.com https://muckrack.com/pat-leonard

brute force
not found 108 marcy.deluna@chron.com https://muckrack.com/marcy-de-luna

brute force
not found 109 antonia.paget@mailonline.co.uk https://muckrack.com/antonia-paget

brute force
not found 110 kathryn.jago@mediaworks.co.uk https://muckrack.com/kathryn-ingate

brute force
not found 111 heather.c@eclinicalworks.com https://muckrack.com/heather-mongilio

brute force
not found 112 simon.burnton@theguardian.com https://muckrack.com/simon-murphy

brute force
not found 113 andrew.scott1@gmail.com https://muckrack.com/andrew-scott

brute force
not found 114 taylor.vollman@heavy.com. https://muckrack.com/taylor-vollman

brute force
not found 115 daniel.suddeath@newsandtribune.com https://muckrack.com/daniel-i-dorfman

brute force
not found 116 katie.feehan@mailonline.co.uk https://muckrack.com/katie-feehan

brute force
found 117 kelsy.schlotthauer@tulsaworld.com https://muckrack.com/kelsy-schlotthauer https://muckrack.com/kelsy-schlotthauer

brute force
not found 118 chris.osborn@stoel.com https://muckrack.com/chris-hays

brute force
not found 119 warren.burgess@tiscali.co.uk https://muckrack.com/warren-muggleton

brute force
not found 120 phil.miller@startribune.com https://muckrack.com/phil-thompson

brute force
not found 121 samantha.matthews@live.co.uk https://muckrack.com/samantha-masters

brute force
not found 122 howard.sinker@startribune.com https://muckrack.com/howard-reich

brute force
found 123 rachel.silberstein@timesunion.com https://muckrack.com/rachel-silberstein https://muckrack.com/rachel-silberstein

brute force
not found 124 dave.boucher@dallasnews.com https://muckrack.com/dave-goldiner

brute force
not found 125 patrick.donnelly@trilogymetals.com https://muckrack.com/patrick-connolly

brute force
not found 126 mike.anthony@longhollow.com https://muckrack.com/mike-anthony

brute force
found 127 michelle.nichols@tr.com https://muckrack.com/michelle-nichols https://muckrack.com/michelle-nichols

brute force
not found 128 tom.pyman@mailonline.co.uk https://muckrack.com/tom-pyman

brute force
not found 129 jessica.hagan@wordpress.com https://muckrack.com/jessica-nolte

brute force
not found 130 sophie.portas@faber.co.uk https://muckrack.com/sophie-roberts

brute force
found 131 jennifer.sheehan@mcall.com https://muckrack.com/jennifer-sheehan https://muckrack.com/jennifer-sheehan

brute force
not found 132 kelsey.mccarson@heavy.com https://muckrack.com/kelsey_mccarson

brute force
not found 133 noah.rothbaum@thedailybeast.com https://muckrack.com/noah__goldberg

brute force
not found 134 zoe.forsey@mirror.co.uk. https://muckrack.com/zoe-forsey

brute force
not found 135 charlie.swanson@mongodb.com https://muckrack.com/charlie-mason

brute force
not found 136 nick.ames@theguardian.com https://muckrack.com/nick-ames

brute force
not found 137 nicholas.brandfon@cwt.com https://muckrack.com/nickrondinone

tfidf match
not found 138 stephen.turner@proteabio.com https://muckrack.com/stephen-morris

brute force
found 139 charlotte.hadfield@reachplc.com https://muckrack.com/charlotte-hadfield https://muckrack.com/charlotte-hadfield

brute force
not found 140 kathryn.williams@walesonline.co.uk https://muckrack.com/kathryn-williams

brute force
found 141 paul.karp@theguardian.com https://muckrack.com/paul-karp https://muckrack.com/paul-karp

brute force
not found 142 david.jones@bwmonline.com https://muckrack.com/david-furones

brute force
found 143 amy.beeman@heavy.com https://muckrack.com/amybeeman https://muckrack.com/amybeeman

brute force
not found 144 courtney.pochin@mirror.co.uk https://muckrack.com/courtney-pochin

brute force
not found 145 william.cole@mailonline.co.uk https://muckrack.com/william-cole

brute force
not found 146 katie.weston@mailonline.co.uk https://muckrack.com/katieweston1

brute force
not found 147 tim.stickings@mailonline.co.uk https://muckrack.com/tim-stickings

brute force
not found 148 faith.ridler@mailonline.co.uk https://muckrack.com/faith-ridler

brute force
not found 149 charlotte.baumann@mail.com https://muckrack.com/charlotte-tutton

brute force
not found 150 katherine.dunn@baltsun.com https://muckrack.com/katherine-fominykh

brute force
not found 151 nancy.walton2@gmail.com https://muckrack.com/nancy-dillon

brute force
not found 152 jane.herz@heavy.com https://muckrack.com/jane-herz

brute force
found 153 tita.smith@mailonline.com https://muckrack.com/tita-smith https://muckrack.com/tita-smith

brute force
not found 154 alex.zank@biztimes.com https://muckrack.com/alex-mann

brute force
not found 155 katie.harris@nzme.co.nz https://muckrack.com/katie-harris

brute force
not found 156 kevin.stankiewicz@nbcuni.com https://muckrack.com/kevin_stank

brute force
not found 157 liam.headd@newburynews.co.uk https://muckrack.com/liam-martin

brute force
not found 158 james.stocker@napthens.co.uk https://muckrack.com/james-bickerton

brute force
not found 159 meredith.goldstein@globe.com https://muckrack.com/meredith-colias-pete

brute force
not found 160 caroline.warnock@heavy.com. https://muckrack.com/caroline-warnock

brute force
not found 161 lisa.b@ovcchicago.com https://muckrack.com/lisa-donovan

brute force
not found 162 chris.herbert@gaflnews.com https://muckrack.com/c_sommerfeldt

brute force
not found 163 louise.vandelac@gmail.com https://muckrack.com/louise-randell

brute force
not found 164 luke.clasper@centremaps.co.uk https://muckrack.com/luke-hawker

brute force
not found 165 tim.aten@naplesnews.com https://muckrack.com/tim-balk

tfidf match
not found 166 lorraine.mirabella@baltsun.com https://muckrack.com/lorraine-millot

brute force
not found 167 elizabeth.czech@remax.net https://muckrack.com/elizabeth-roche

brute force
not found 168 clare.mccarthy@mailonline.co.uk https://muckrack.com/clare-mccarthy

brute force
not found 169 tim.kerns@compass.com https://muckrack.com/tim-reynolds

brute force
not found 170 bob_dole@chat.cohtitan.com https://muckrack.com/bob-beacham

brute force
not found 171 amy.mackinnon@globe.com https://muckrack.com/amy-dickinson

brute force
not found 172 james.gant@mailonline.co.uk https://muckrack.com/james-gant

brute force
not found 173 stephanie.korn@gmx.de https://muckrack.com/stephanie-burns

brute force
not found 174 christopher_morocco@condenast.com https://muckrack.com/christopher-arnott

brute force
not found 175 trevor.squire@heavy.com https://muckrack.com/trevor-squire

brute force
not found 176 kristian.faeldt@gmail.com https://muckrack.com/kristian-winfield

brute force
not found 177 mark.vancleave@startribune.com https://muckrack.com/mark-gonzales

brute force
not found 178 frederick.turner@gmail.com https://muckrack.com/frederick-ennette

brute force
found 179 miles.martignoni@theguardian.com https://muckrack.com/miles-martignoni https://muckrack.com/miles-martignoni

brute force
not found 180 samantha.pletsch@greystar.com https://muckrack.com/samantha-bartlett

brute force

not found 181 christine.garcia@state.co.us https://muckrack.com/christine-younan

brute force
not found 182 megan.ryan@startribune.com https://muckrack.com/megan-jones

brute force
not found 183 maxine.shen@mailonline.com https://muckrack.com/maxine-shen

tfidf match
not found 184 stephen.robertson@myhorrynews.com https://muckrack.com/stephen-brown

brute force
not found 185 elizabeth.mcknight@utoledo.edu https://muckrack.com/eknightofficial

brute force
not found 186 alexander.brockmann@dlv.de https://muckrack.com/alexander-brock

brute force
found 187 ali.daher@mailonline.com https://muckrack.com/aliiscoollike https://muckrack.com/aliiscoollike

brute force
not found 188 trevor.hunnicutt@tr.com https://muckrack.com/trhunnicutt

brute force
found 189 shannon.ayin@chicagotribune.com https://muckrack.com/shannon-ryan https://muckrack.com/shannon-ryan

brute force
not found 190 darren.boyle@mailonline.co.uk https://muckrack.com/darren-boyle

brute force
not found 191 michael.fowler@theage.com.au https://muckrack.com/michael-fowler

brute force
not found 192 dan.sales@mailonline.co.uk https://muckrack.com/dan-sales

brute force
found 193 emily.bicks@heavy.com https://muckrack.com/emily-bicks https://muckrack.com/emily-bicks

brute force
not found 194 jessica.reed@theguardian.com https://muckrack.com/jessica-elgot

brute force
found 195 robert.dalling@walesonline.co.uk https://muckrack.com/robert-dalling https://muckrack.com/robert-dalling

brute force
not found 196 vinciane.ngomsi@blavity.com https://muckrack.com/vinciane-ngomsi

brute force
not found 197 adam_otten@aol.com https://muckrack.com/adam-stites

brute force
not found 198 mark.morford@stoel.com https://muckrack.com/mark-long

brute force
not found 199 aparajita.s@yourstory.com https://muckrack.com/aparajita-saxena

brute force
not found 200 ana.anuch@hotmail.com https://muckrack.com/ana-sanchez

brute force
not found 201 alexandra.kautzman@bismarcktribune.com https://muckrack.com/alexandra-kukulka

brute force
not found 202 gemma.jaleel@liverpool.com https://muckrack.com/gemma-jaleel

brute force
not found 203 caroline.blair@heavy.com https://muckrack.com/caroline-blair

brute force
not found 204 scott.henderson@furman.edu https://muckrack.com/scottmendelson

brute force
found 205 ryan.kneller@mcall.com https://muckrack.com/ryan-kneller https://muckrack.com/ryan-kneller

brute force
not found 206 scott.murray@theguardian.com https://muckrack.com/scott-murray

brute force
found 207 saleen.martin@pilotonline.com https://muckrack.com/saleen-martin https://muckrack.com/saleen-martin

brute force
not found 208 clark.calhoun@alston.com https://muckrack.com/clark-grell

brute force
found 209 christopher.mckeon@reachplc.com https://muckrack.com/christopher-mckeon https://muckrack.com/christopher-mckeon

brute force
not found 210 andrea.shalal@tr.com https://muckrack.com/andrea-shalal

brute force
not found 211 christina.olin-scheller@kau.se https://muckrack.com/christina-finn

brute force
not found 212 stephen.mccaugherty@heavy.com. https://muckrack.com/stephen-mccaugherty

brute force
not found 213 georgina.wald@fullers.co.uk https://muckrack.com/georgieroselaud

brute force
not found 214 matt.lewis@thedailybeast.com https://muckrack.com/matt-jones

brute force
not found 215 thomas.ray1@gmail.com https://muckrack.com/thomas-tracy

brute force
not found 216 leonard.woolsey@galvnews.com https://muckrack.com/leonard-greene

brute force
not found 217 tia.johnson@wbay.com https://muckrack.com/tia-hairston

brute force
not found 218 jessica.harris@elegantresorts.co.uk https://muckrack.com/jessica-odonnell

tfidf match
not found 219 daniel.harris@theguardian.com https://muckrack.com/daniel--patrick-sheehan

brute force
not found 220 robert.dalling@walesonline.co.uk https://muckrack.com/robert-harries

brute force
not found 221 hannah.sayle@startribune.com https://muckrack.com/hannah-reed

brute force
not found 222 sean.delaney@wymt.com https://muckrack.com/seandeveney

brute force
not found 223 manish.narani@xilinx.com https://muckrack.com/manish-mehta

brute force
not found 224 brittany.chain@mailonline.com https://muckrack.com/brittanychain

brute force
found 225 brett.lackey@mailonline.com https://muckrack.com/brett-lackey https://muckrack.com/brett-lackey

brute force
not found 226 rebecca.lewis@news.co.uk https://muckrack.com/rebecca-perring

brute force
not found 227 aliki.kraterou@mailonline.co.uk https://muckrack.com/aliki-kraterou

brute force
not found 228 daniel.lessner@jsi.cz https://muckrack.com/daniel-wiessner

brute force
found 229 christopher.rosen@gmail.com https://muckrack.com/chrisjrosen https://muckrack.com/chrisjrosen

brute force
not found 230 adam.clayton@experis.co.uk https://muckrack.com/adam-newson

brute force
found 231 kelsy.schlotthauer@tulsaworld.com https://muckrack.com/kelsy-schlotthauer https://muckrack.com/kelsy-schlotthauer

brute force
not found 232 richard.bonnifield@stoel.com https://muckrack.com/cruisenewshound

brute force
found 233 jon.harris@mcall.com https://muckrack.com/jon-harris https://muckrack.com/jon-harris

brute force
not found 234 charlie.lankston@mailonline.com https://muckrack.com/charlie-lankston

brute force
not found 235 michael.gehlken@dallasnews.com https://muckrack.com/michael-sheridan

brute force
not found 236 nick.fierro@mcall.com https://muckrack.com/nick-fierro

brute force
not found 237 mischa.frankl-duval@wsj.com https://muckrack.com/mischa-frankl-duval

brute force
not found 238 elizabeth.benton@ct.gov https://muckrack.com/elizabeth-denton

brute force
not found 239 steve.thomas@bismarcktribune.com https://muckrack.com/steve-lord

brute force
not found 240 cecelia.thorn@heavy.com https://muckrack.com/cecelia-may-thorn

brute force
not found 241 stephanie_diec@hotmail.com https://muckrack.com/stephanie-sigafoos

brute force
not found 242 lydia.catling@mailonline.co.uk https://muckrack.com/lydia-catling

brute force
not found 243 stephen.gibbs@mailonline.com https://muckrack.com/stephen-gibbs

brute force
not found 244 ryan.oneill@walesonline.co.uk https://muckrack.com/ryan-oneill

tfidf match
not found 245 matthew.galloway@cjonline.com https://muckrack.com/matthew-jonas

brute force
not found 246 nick.enoch@mailonline.co.uk https://muckrack.com/nick-enoch

brute force
not found 247 kimberly_bautista@saipantribune.com https://muckrack.com/kimberly-fornek

brute force
not found 248 martin.robinson@mailonline.co.uk https://muckrack.com/martin-robinson

brute force
not found 249 steve.sack@startribune.com https://muckrack.com/steve-sadin

brute force
not found 250 bill.haneman@sun.com https://muckrack.com/bill-wagner

brute force
found 251 jolanie.martinez@hawaiinewsnow.com https://muckrack.com/jolanie-martinez https://muckrack.com/jolanie-martinez

brute force
not found 252 jennifer.brooks@startribune.com https://muckrack.com/jennifer-johnson

brute force
not found 253 henry.martin@mailonline.co.uk https://muckrack.com/henry-martin

brute force
not found 254 jimmy.vielkind@wsj.com https://muckrack.com/jimmy-vielkind

brute force
not found 255 steve.breen@sduniontribune.com https://muckrack.com/steve-schering

brute force
not found 256 stephanie.kelly@copt.com https://muckrack.com/stephaniekellym

brute force
found 257 toby.crockford@brisbanetimes.com.au https://muckrack.com/toby-crockford https://muckrack.com/toby-crockford

brute force
not found 258 kelsey.kramer@heavy.com https://muckrack.com/kelsey-kramer

brute force
not found 259 josue.bravo@nacion.com https://muckrack.com/josue-pavon

brute force
not found 260 jack_taylor@hotmail.co.uk https://muckrack.com/jack-staplehurst

brute force

AlgorithmException: "Account doesn't have any remaining credits"

In [34]:
matches.iloc[105], authors.iloc[372], emails.iloc[514138]

(author_index          372
 email_index        514138
 match_threshold       0.5
 found_url              no
 Name: 105, dtype: object,
 author                                  Sam Baker
 article_count                                  71
 request_url        https://muckrack.com/sam-baker
 redirect_url       https://muckrack.com/sam-baker
 method                                brute force
 confidence                                      -
 first_name_df                                 sam
 common_outlet                         Mail Online
 author + outlet             Sam Baker Mail Online
 Name: 372, dtype: object,
 email_address     sam.baker@mailonline.co.uk
 first_name_df                            sam
 second_name_df                         baker
 Name: 514138, dtype: object)

In [39]:
matches[matches.found_url == 'yes']

    author_index email_index  match_threshold found_url
117         2472       20379            0.558       yes
123         2510       94245            0.667       yes
127         2520      169345            0.609       yes
131         2534      314073            0.846       yes
139          508      437904            0.545       yes
141         2573     1356164            0.600       yes
143         2590       36229            0.750       yes
153          584      339648            0.560       yes
179         2759      914495            0.688       yes
187          739      753028            0.542       yes
189          747     1428860            0.839       yes
193          766       22652            0.762       yes
195          769     1308139            0.625       yes
205         2874     1493382            0.818       yes
207         2877       22030            0.517       yes
209          837      322918            0.515       yes
225          921      617881            0.593       yes
229          953      394931            0.517       yes
231          956       20379            0.571       yes
233         3015      161910            0.800       yes
251         3096      125066            0.652       yes
257         1092        2953            0.600       yes

In [26]:
query = {"query": f"soumyaparekh"}
results = algo.pipe(query).result

In [27]:
results

[]

In [ ]:
authors.iloc[int(matches.iloc[11].author_index)].method

In [ ]:
authors.method.value_counts()

In [ ]:
matches.found_url.value_counts()

In [ ]:
results[0]['url']

In [ ]:
link