Now, coming to Week 2 task. For each of the authors, you ideally want to know more about their background, topics of interest, twitter links etc.

One easy way to grab it is going their muckrack journalist profile page and web scrapping it from there (refer to chapter 2, beautifulsoup portion to know how to do it).

Two ways to do it: first, you can search through the muckrack sitemap CSV file for near duplicate matches in similar or same names and scrape their profiles. 

Second method is letting Bing/Google do the job aka take the author name and outlet name and search Google programmatically using Specrom APIs. For example if you want to know more about Dave Sebastian WSJ.com just use it as a search key and find muckrack profile and proceed from there. 

How about you trying doing do both approaches on top 10-30 authors and see which one works best?

https://algorithmia.com/algorithms/specrom/Google_scraper

https://algorithmia.com/algorithms/specrom/Bing_scraper

In [6]:
import pickle
import pandas as pd
import re
import Algorithmia
import bs4 as bs
import lxml
from urllib.request import Request, urlopen
import json
import time

In [7]:
with open('news.pkl', 'rb') as f:
    news = pickle.load(f)

In [12]:
news

,author,site_name,title,article_count,title_sentiment
0,Aja Styles,Brisbane Times,'Pack Lego': Perth family caught in hard borde...,14.0,-9.09
1,Jake Johnson,Truthout,Congress Passes COVID Relief With Billions in ...,33.0,18.18
2,Christine Favocci,The Western Journal,PA Man Facing Charges of Unlawful Voting After...,19.0,-38.46
3,William Rivers Pitt,Truthout,What Will Trump Attempt in His Last Days? We M...,14.0,0.00
4,Amy Goodman,Truthout,The Insufficient COVID Stimulus Must Not Be Fo...,19.0,-20.00
...,...,...,...,...,...
121126,Simon Bajkowski,Manchester Evening News,How Man City should line up vs Fulham in the P...,87.0,0.00
121127,Victoria Jones,WalesOnline,How to teach saving and spending to kids as yo...,92.0,0.00
121128,Victoria Jones,WalesOnline,Space experiment could unlock resources for mi...,92.0,0.00
121129,Nisha Mal,WalesOnline,Woman's home is in Tier 2 while her garden fal...,66.0,-10.00
121130,Victoria Jones,WalesOnline,Britannia ranked the UK's worst hotel chain fo...,92.0,-17.65

In [10]:
s = 'fsfsgsfWR#^^$&%*^IULIP(_-9--))'
punctuations = '''!()[]{};:'"\,<>./?@#$%^&*_~'''
for x in s.lower(): 
        if x in punctuations: s = s.replace(x, "") 
print(s)

fsfsgsfWRIULIP-9--

In [40]:
data = news.copy()
data = data[['author', 'article_count']].groupby('author').count().sort_values(['article_count'], ascending = False).reset_index()
columns = ['verified', 'interests', 'title', 'location', 'description', 
           'seen_in', 'website', 'twitter', 'linkedin', 'facebook', 'instagram']
for col in columns:
    data[col] = 0

In [41]:
data

,author,article_count,verified,interests,title,location,description,seen_in,website,twitter,linkedin,facebook,instagram
0,Neil Shaw,523,0,0,0,0,0,0,0,0,0,0,0
1,James Rodger,512,0,0,0,0,0,0,0,0,0,0,0
2,Jack Davis,251,0,0,0,0,0,0,0,0,0,0,0
3,Adam Wells,223,0,0,0,0,0,0,0,0,0,0,0
4,Sophie McCoid,218,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3886,Emma Dunkley,10,0,0,0,0,0,0,0,0,0,0,0
3887,Tanya Jefferies,10,0,0,0,0,0,0,0,0,0,0,0
3888,Liam Kelly,10,0,0,0,0,0,0,0,0,0,0,0
3889,Levi Sumagaysay,10,0,0,0,0,0,0,0,0,0,0,0
3890,Roshni Balaji,10,0,0,0,0,0,0,0,0,0,0,0

In [42]:
def get_top(n):
    temp = news[['author', 'article_count']].groupby('author').count().sort_values(['article_count'], ascending = False)
    temp = temp.reset_index().head(n)
    urls = []
    for i in range(len(temp)):
        url = re.sub(r'(\w*.\w*@\w*.\w*)', '', temp.loc[i].author.lower()) # remove emails
        url = re.sub(r'\|.*$', '', url) # remove everything after |
        url = re.sub(r'\,.*$', '', url) # remove evrything after ,
        url = re.sub(r'[^\\w-]', '', url) # remove punctuation
        url = ' '.join([i.strip() for i in url.split()]) # remove spaces and lowercase
        url = re.sub(r'(sa)(\s+)(\w+)(\s+)', '', url) # SA editors
        url = re.sub(r'(tulsa)(\s+)(world)', '', url) # tulsa world editors
        url = re.sub(r'(\d+)', '', url) # remove numbers
        url = 'https://muckrack.com/' + url.replace(' ', '-').strip('-') # make URL
        # print(muckrack[muckrack.url.str.contains(url, regex=False)])
        urls.append(url)
    temp['Muckrack'] = urls
    return temp

get_top(300)

               author  article_count                Muckrack
0           Neil Shaw            523  https://muckrack.com/w
1        James Rodger            512   https://muckrack.com/
2          Jack Davis            251   https://muckrack.com/
3          Adam Wells            223  https://muckrack.com/w
4       Sophie McCoid            218   https://muckrack.com/
..                ...            ...                     ...
295       Luke Kenton             77   https://muckrack.com/
296  Peter Sblendorio             77   https://muckrack.com/
297     Emily Hodgkin             77   https://muckrack.com/
298        Tom Towers             76  https://muckrack.com/w
299      Tom Davidson             76   https://muckrack.com/

[300 rows x 3 columns]

In [43]:
client = Algorithmia.client('simKLMHlWDMzWd+QcNRqVhI104r1')
algo = client.algo('specrom/Google_scraper/0.1.4')
algo.set_options(timeout=300) # optional

In [12]:
data = get_top(3891)

In [ ]:
for j in range(len(data)):
    try:
        url = data.iloc[j].Muckrack
        req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
        sauce = urlopen(req).read()
    except:
        print("wrong url", data.iloc[j].Muckrack, data.iloc[j].author)
        query = {"query": f"{data.iloc[j].author} site: muckrack"}
        url = algo.pipe(query).result
        if url:
            url = url[0]['url']
            print("right url", url)
            print()
            req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
            sauce = urlopen(req).read()
    soup = bs.BeautifulSoup(sauce,'lxml')

wrong url https://muckrack.com/matthew-cooper Matthew Cooper
wrong url https://muckrack.com/svar-nanansen Svar Nanan-Sen
wrong url https://muckrack.com/seamus-duff Seamus Duff
wrong url https://muckrack.com/alessandra-scotto-di-santolo Alessandra Scotto di Santolo
wrong url https://muckrack.com/ryan-taylor Ryan Taylor
wrong url https://muckrack.com/beth-mishlerelmore Beth Mishler-Elmore
wrong url https://muckrack.com/liam-doyle Liam Doyle
wrong url https://muckrack.com/jessica-dolcourt Jessica Dolcourt
wrong url https://muckrack.com/unzela-khan Unzela Khan
wrong url https://muckrack.com/elle-may-rice Elle May Rice
wrong url https://muckrack.com/austin-boyd Austin Boyd
wrong url https://muckrack.com/molly-pike Molly Pike
wrong url https://muckrack.com/bryony-jewell Bryony Jewell
wrong url https://muckrack.com/lucas-hillpaul Lucas Hill-Paul
wrong url https://muckrack.com/saraaisha-kent Sara-Aisha Kent
wrong url https://muckrack.com/charlie-spiering Charlie Spiering
wrong url https://muckrack.com/ira-winderman Ira Winderman
wrong url https://muckrack.com/connor-coombewhitlock Connor Coombe-Whitlock
wrong url https://muckrack.com/muri-assunção Muri Assunção
wrong url https://muckrack.com/paul-withers Paul Withers
wrong url https://muckrack.com/andy-meek Andy Meek
wrong url https://muckrack.com/helen-carter Helen Carter
wrong url https://muckrack.com/kellyann-mills Kelly-Ann Mills
wrong url https://muckrack.com/luke-traynor Luke Traynor
wrong url https://muckrack.com/dinoray-ramos Dino-Ray Ramos
wrong url https://muckrack.com/jon-blistein Jon Blistein
wrong url https://muckrack.com/jacob-siegal Jacob Siegal
wrong url https://muckrack.com/sam-mckewon-worldherald-staff-writer Sam McKewon World-Herald staff writer
wrong url https://muckrack.com/japan-today Japan Today
wrong url https://muckrack.com/dave-mcnary Dave McNary
wrong url https://muckrack.com/torcuil-crichton Torcuil Crichton
wrong url https://muckrack.com/chloelee-longhetti Chloe-lee Longhetti
wrong url https://muckrack.com/mary-kekatos-senior Mary Kekatos Senior
wrong url https://muckrack.com/keith-pompey Keith Pompey
wrong url https://muckrack.com/danny-cyril-d-cruze Danny Cyril D Cruze
wrong url https://muckrack.com/vinny-somma Vinny Somma
wrong url https://muckrack.com/evan-bland-worldherald-staff-writer Evan Bland World-Herald staff writer
wrong url https://muckrack.com/stephen-mosher Stephen Mosher
wrong url https://muckrack.com/broganleigh-hurst Brogan-Leigh Hurst
wrong url https://muckrack.com/brandwagon-online BrandWagon Online
wrong url https://muckrack.com/levi-parsons Levi Parsons
wrong url https://muckrack.com/claire-gilbodydickerson Claire Gilbody-Dickerson
wrong url https://muckrack.com/paul-hutcheon Paul Hutcheon
wrong url https://muckrack.com/chris-basnett Chris  Basnett
wrong url https://muckrack.com/goh-yan-han GOH YAN HAN
wrong url https://muckrack.com/daniel-kreps Daniel Kreps
wrong url https://muckrack.com/bridie-pearsonjones Bridie Pearson-jones
wrong url https://muckrack.com/charlie-coë Charlie Coë
wrong url https://muckrack.com/jason-cipriani Jason Cipriani
wrong url https://muckrack.com/amy-graff Amy Graff, SFGATE
wrong url https://muckrack.com/johnpaul-clark John-Paul Clark
wrong url https://muckrack.com/ana-suarez Ana Suarez
wrong url https://muckrack.com/amanda-thomason Amanda Thomason
wrong url https://muckrack.com/omar-kelly Omar Kelly
wrong url https://muckrack.com/sean-murphy Sean Murphy
wrong url https://muckrack.com/ben-turnerle Ben Turner-LE
wrong url https://muckrack.com/sophie-hallerichards Sophie Halle-Richards
wrong url https://muckrack.com/joshua-caplan Joshua Caplan
wrong url https://muckrack.com/rory-tingle Rory Tingle
wrong url https://muckrack.com/dr-susan-berry Dr. Susan Berry
wrong url https://muckrack.com/matt-murschel Matt Murschel
wrong url https://muckrack.com/amanda-kooser Amanda Kooser
wrong url https://muckrack.com/pangchieh @pang-chieh
wrong url https://muckrack.com/condé-nast Condé Nast
wrong url https://muckrack.com/gráinne-ní-aodha Gráinne Ní Aodha
wrong url https://muckrack.com/stephen-rex-brown Stephen Rex Brown
wrong url https://muckrack.com/christy-wheeland-news-editor Christy Wheeland News Editor
wrong url https://muckrack.com/john-oconnor-richmond-timesdispatch JOHN O'CONNOR Richmond Times-Dispatch
wrong url https://muckrack.com/shawn-hein-staff-writer Shawn Hein Staff Writer
wrong url https://muckrack.com/jon-nyatawa-worldherald-staff-writer Jon Nyatawa World-Herald staff writer
wrong url https://muckrack.com/paul-feely-new-hampshire-union-leader Paul Feely New Hampshire Union Leader
wrong url https://muckrack.com/rónán-duffy Rónán Duffy
wrong url https://muckrack.com/gen-alpha Gen Alpha
wrong url https://muckrack.com/jason-wilde-for-the-state-journal JASON WILDE For the State Journal
wrong url https://muckrack.com/lim-ruey-yan LIM RUEY YAN
wrong url https://muckrack.com/joe-otterson Joe Otterson
wrong url https://muckrack.com/keith-groller Keith Groller
wrong url https://muckrack.com/landon Landon Stamper lstamper@aikenstandard.com
wrong url https://muckrack.com/chicago-tribune-staff Chicago Tribune staff
wrong url https://muckrack.com/richard-davenport Richard Davenport
wrong url https://muckrack.com/ellie-kirwinjones Ellie Kirwin-Jones
wrong url https://muckrack.com/howard-fischer-capitol-media-services Howard Fischer Capitol Media Services
wrong url https://muckrack.com/scott-bauer SCOTT BAUER
wrong url https://muckrack.com/field-level-media Field Level Media
wrong url https://muckrack.com/jason-evans Jason Evans
wrong url https://muckrack.com/cónal-thomas Cónal Thomas
wrong url https://muckrack.com/greg-beacham GREG BEACHAM
wrong url https://muckrack.com/sarah-alarshani Sarah Al-Arshani
wrong url https://muckrack.com/steve-neville Steve Neville

In [8]:
def extract_data(link):
    info = {}
    info['name'] = data.iloc[j].author
    if soup.find_all(class_ = 'profile-verified'):
        info['verified'] = True
    if soup.find(class_ = 'person-details-item person-details-beats'):
        info['interests'] = ' '.join([line.strip() for line in soup.find(class_ = 'fa fa-fw fa-tasks icon-standard').findNext('div').text.split('\n') if line.strip() != ''])
    if soup.find(class_ = 'person-details-item person-details-title'):
        info['title'] = ' '.join([line.strip() for line in soup.find(class_ = 'fa fa-fw fa-building icon-standard').findNext('div').text.split('\n') if line.strip() != ''])
    if soup.find(class_ = 'person-details-item person-details-location'):
        info['location'] = ' '.join([line.strip() for line in soup.find(class_ = 'fa fa-fw fa-map-marker icon-standard').findNext('div').text.split('\n') if line.strip() != ''])
    if soup.find(class_ = 'mr-font-size-lg mr-font-family-2 top-sm'):
        info['description'] = soup.find(class_ = 'mr-font-size-lg mr-font-family-2 top-sm').text.strip()
    info['seen_in'] = list(set([i.text for i in soup.find_all('a') if '/media-outlet/' in i.attrs['href']]))
    if soup.find(class_ = 'profile-section-social'):
        for i in soup.find(class_ = 'profile-section-social'):
            temp = [j[5:] for j in str(i).split() if 'href' in j]
            if temp: 
                temp = temp[0].strip('"')
                if 't.co' in temp:
                    info['website'] = temp
                if 'twitter' in temp:
                    info['twitter'] = temp
                if 'linkedin' in temp:
                    info['linkedin'] = temp
                if 'facebook' in temp:
                    info['facebook'] = temp
                if 'instagram' in temp:
                    info['instagram'] = temp