In [1]:
import pickle
import pandas as pd
import re
import Algorithmia
import bs4 as bs
import lxml
from urllib.request import Request, urlopen
import json
import time
from fuzzywuzzy import process

In [2]:
problematic_urls = [33,
44,
45,
50,
62,
82,
84,
104,
132,
135,
219,
248,
264,
303,
307,
322,
353,
378,
393,
417,
425,
449,
461,
465,
498,
530,
543,
545,
547,
551,
596,
619,
623,
638,
648,
666,
676,
683,
686,
692,
715,
718,
725,
729,
775,
780,
798,
804,
811,
817,
838,
868,
898,
918,
935,
961,
963,
969,
982,
1012,
1020,
1034,
1042,
1044,
1049,
1067,
1069,
1090,
1094,
1095,
1101,
1107,
1122,
1133,
1156,
1157,
1161,
1177,
1187,
1191,
1207,
1213,
1222,
1241,
1245,
1262,
1286,
1287,
1289,
1306,
1351,
1432,
1457,
1474,
1506,
1507,
1515,
1519,
1524,
1525,
1535,
1539,
1550,
1584,
1585,
1599,
1603,
1606,
1616,
1629,
1634,
1641,
1652,
1654,
1655,
1658,
1665,
1673,
1688,
1714,
1729,
1736,
1744,
1788,
1803,
1839,
1843,
1848,
1861,
1866,
1886,
1892,
1900,
1905,
1906,
1911,
1912,
1920,
1921,
1971,
1986,
2001,
2005,
2047,
2051,
2077,
2078,
2079,
2081,
2082,
2094,
2097,
2101,
2114,
2116,
2126,
2137,
2142,
2152,
2174,
2175,
2189,
2200,
2209,
2212,
2215,
2232,
2245,
2250,
2257,
2258,
2260,
2275,
2291,
2313,
2314,
2317,
2329,
2332,
2337,
2338,
2342,
2350,
2357,
2358,
2362,
2364,
2378,
2400,
2403,
2406,
2407,
2410,
2415,
2419,
2425,
2435,
2444,
2449,
2450,
2465,
2473,
2486,
2490,
2491,
2502,
2521,
2530,
2555,
2557,
2560,
2562,
2581,
2596,
2597,
2605,
2606,
2612,
2613,
2620,
2633,
2653,
2657,
2658,
2674,
2676,
2682,
2689,
2704,
2712,
2714,
2716,
2726,
2732,
2734,
2747,
2749,
2763,
2773,
2783,
2786,
2798,
2806,
2811,
2814,
2822,
2825,
2834,
2852,
2872,
2903,
2908,
2925,
2930,
2931,
2938,
2977,
2979,
3005,
3006,
3018,
3032,
3034,
3037,
3040,
3048,
3050,
3061,
3085,
3097,
3098,
3104,
3126,
3139,
3153,
3172,
3182,
3184,
3193,
3194,
3195,
3198,
3200,
3206,
3207,
3211,
3231,
3240,
3248,
3254,
3257,
3259,
3277,
3281,
3296,
3304,
3308,
3311,
3323,
3326,
3377,
3380,
3411,
3415,
3422,
3426,
3442,
3449,
3451,
3457,
3466,
3467,
3473,
3475,
3479,
3480,
3500,
3503,
3505,
3509,
3510,
3512,
3514,
3519,
3544,
3547,
3549,
3550,
3551,
3565,
3575,
3608,
3610,
3611,
3624,
3634,
3635,
3636,
3638,
3662,
3703,
3707,
3710,
3716,
3732,
3739,
3743,
3775,
3797,
3824,
3825,
3837]

In [3]:
with open('news.pkl', 'rb') as f:
    news = pickle.load(f)
    # 3844 unique authors

muckrack = pd.read_csv('muckrack_persons_fetchlist.csv')

In [4]:
def get_top(n):
    temp = news[['author', 'article_count']].groupby('author').count().sort_values(['article_count'], ascending = False)
    temp = temp.reset_index().head(n)
    urls = []
    for i in range(len(temp)):
        url = temp.loc[i].author.lower()
        url = re.sub(r'\|.*$', '', url) # remove everything after |
        url = re.sub(r'\,.*$', '', url) # remove evrything after ,
        
        punctuations = '''!()[]{};:'"\,<>./?#$%^&*_~'''
        for x in url.lower(): 
            if x in punctuations: url = url.replace(x, "") # remove punctuations except hyphen
        url = re.sub(r'(\d+)', '', url) # remove numbers
        url = re.sub(r'(--)', '', url)
        url = re.sub(r'(\w+@\w+)', '', url) # remove emails
        url = ' '.join([i.strip() for i in url.split()]) # remove spaces and lowercase
        url = re.sub(r'(\s+)(and)(\s+)(\w*)(\s*)(\w*)', '', url) # remove anything after and
        keywords = ['sa', 'tulsa', 'editor', 'writer', 'world-herald', 'news', 'world', 'richmond', 'times-dispatch', 'new',
                   'hampshire', 'union', 'leader', 'for', 'the', 'state', 'journal', 'correspondant', 'sfgate', 'special',
                   'from', 'the', 'gazette', 'times', 'staff', 'senior', 'dr', 'correspondent', 'by', 'editorial board',
                   'research', 'wire reports', 'security', 'real', 'estate', 'to', 'post', 'and', 'courier', 'policy',
                   'commercial', 'bureau', 'political', 'roanoke', 'college', 'football', 'editorial','democrat-gazette',
                   'arizona', 'daily', 'star', '--hamburg', 'column', 'lincoln', 'managing', 'backstage', 'with', 'sports',
                   'ii', 'iii', 'capitol', 'media', 'services']
        url = ' '.join([i for i in url.split() if i not in keywords]) # remove other keywords
        url = re.sub(r'(@)', '', url) # remove handles
        url = 'https://muckrack.com/' + url.replace(' ', '-').strip('-') # make URL
        urls.append(url)
    temp['Muckrack'] = urls
    return temp

In [5]:
data = get_top(3838)

In [ ]:
for j in range(len(data)):
    try:
        url = data.iloc[j].Muckrack
        req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
        sauce = urlopen(req).read()
    except:
        print("wrong url", j, data.iloc[j].author, data.iloc[j].Muckrack)
#         query = {"query": f"{data.iloc[j].author} site: muckrack"}
#         url = algo.pipe(query).result
#         url = url[0]['url']
#         if 'muckrack' in url:    
#             print("right url", url)
#             print()
#             req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
#             sauce = urlopen(req).read()
#     soup = bs.BeautifulSoup(sauce,'lxml')
#     extract_data(soup)
#     print()

In [7]:
for i in problematic_urls:
    match_author = data.iloc[i].author
    print("processing", match_author)
    subset_keyword = max(data.iloc[i].Muckrack[21:].split('-'), key = len)
    temp_subset = muckrack[muckrack.url.str.contains(subset_keyword)].url
    print(f"subset dataframe with {subset_keyword}, found {len(temp_subset)} rows")
    if len(temp_subset):
        Ratios = process.extract(match_author, temp_subset)
        print("ratios", Ratios)
        # You can also select the string with the highest matching percentage
        highest = process.extractOne(match_author, temp_subset)
        print("highest matching", highest[0])
    else:
        print("no matches")
    print()

processing Matthew Cooper
subset dataframe with matthew, found 886 rows
ratios [('https://muckrack.com/matthew-cooper-3', 90, 104911), ('https://muckrack.com/matthew-cooper-8', 90, 104912), ('https://muckrack.com/matthew-cooper-11', 90, 206594), ('https://muckrack.com/matthew-cooper-4', 90, 206595), ('https://muckrack.com/harry-matthew', 86, 58301)]
highest matching https://muckrack.com/matthew-cooper-3

processing Seamus Duff
subset dataframe with seamus, found 10 rows
ratios [('https://muckrack.com/seamus', 86, 138257), ('https://muckrack.com/seamus-bellamy', 86, 138258), ('https://muckrack.com/seamus-mcdonnell', 86, 138259), ('https://muckrack.com/seamus-mckee', 86, 138260), ('https://muckrack.com/seamus-mckinney', 86, 138261)]
highest matching https://muckrack.com/seamus

processing Alessandra Scotto di Santolo
subset dataframe with alessandra, found 33 rows
ratios [('https://muckrack.com/alessandra-maggiorani', 86, 3739), ('https://muckrack.com/alessandra-migliaccio', 86, 3740), ('https://muckrack.com/alessandra-selgi-harrigan', 86, 3745), ('https://muckrack.com/alessandra-bonomolo', 58, 3728), ('https://muckrack.com/alessandra-baldini', 55, 3725)]
highest matching https://muckrack.com/alessandra-maggiorani

processing Ryan Taylor
subset dataframe with taylor, found 757 rows
ratios [('https://muckrack.com/ryan-taylor-3', 90, 133587), ('https://muckrack.com/aaron-taylor-2', 86, 522), ('https://muckrack.com/abbey-taylor', 86, 651), ('https://muckrack.com/adam-taylor', 86, 1680), ('https://muckrack.com/adam-taylor-on', 86, 1681)]
highest matching https://muckrack.com/ryan-taylor-3

processing Liam Doyle
subset dataframe with doyle, found 112 rows
ratios [('https://muckrack.com/abbey-doyle', 86, 639), ('https://muckrack.com/aileen-doyle', 86, 2529), ('https://muckrack.com/alice-welsh-doyle', 86, 5528), ('https://muckrack.com/alicia-doyle', 86, 5576), ('https://muckrack.com/alister-doyle', 86, 6046)]
highest matching https://muckrack.com/abbey-doyle

processing Jessica Dolcourt
subset dataframe with dolcourt, found 1 rows
ratios [('https://muckrack.com/jdolcourt', 59, 67291)]
highest matching https://muckrack.com/jdolcourt

processing Unzela Khan
subset dataframe with unzela, found 1 rows
ratios [('https://muckrack.com/unzela-anna-khan-1', 86, 154569)]
highest matching https://muckrack.com/unzela-anna-khan-1

processing Elle May Rice
subset dataframe with elle, found 2662 rows
ratios [('https://muckrack.com/belle-rice', 86, 16166), ('https://muckrack.com/dani-elle-dube', 86, 35657), ('https://muckrack.com/elle-butler', 86, 46279), ('https://muckrack.com/elle-collins', 86, 46280), ('https://muckrack.com/elle-duncan', 86, 46281)]
highest matching https://muckrack.com/belle-rice

processing Bryony Jewell
subset dataframe with bryony, found 16 rows
ratios [('https://muckrack.com/bryony-andrews', 86, 22786), ('https://muckrack.com/bryony-andrews-1', 86, 22787), ('https://muckrack.com/bryony-collins', 86, 22788), ('https://muckrack.com/bryony-hopkins', 86, 22789), ('https://muckrack.com/bryony-jones', 86, 22790)]
highest matching https://muckrack.com/bryony-andrews

processing Molly Pike
subset dataframe with molly, found 239 rows
ratios [('https://muckrack.com/molly-ade', 86, 112406), ('https://muckrack.com/molly-allen', 86, 112407), ('https://muckrack.com/molly-allen-1', 86, 112408), ('https://muckrack.com/molly-atchison', 86, 112409), ('https://muckrack.com/molly-baz', 86, 112410)]
highest matching https://muckrack.com/molly-ade

processing Charlie Spiering
subset dataframe with spiering, found 2 rows
ratios [('https://muckrack.com/charliespiering', 87, 27310), ('https://muckrack.com/francine-spiering', 86, 51850)]
highest matching https://muckrack.com/charliespiering

processing Ira Winderman
subset dataframe with winderman, found 1 rows
ratios [('https://muckrack.com/jake-winderman', 86, 63672)]
highest matching https://muckrack.com/jake-winderman

processing Muri Assunção
subset dataframe with assunção, found 0 rows
no matches

processing Andy Meek
subset dataframe with andy, found 1096 rows
ratios [('https://muckrack.com/andy-abeyta', 86, 10049), ('https://muckrack.com/andy-alcock', 86, 10050), ('https://muckrack.com/andy-alford', 86, 10051), ('https://muckrack.com/andy-amey', 86, 10052), ('https://muckrack.com/andy-andrews-1', 86, 10053)]
highest matching https://muckrack.com/andy-abeyta

processing Paul Withers
subset dataframe with withers, found 26 rows
ratios [('https://muckrack.com/curtis-withers', 86, 34124), ('https://muckrack.com/iain-withers', 86, 60594), ('https://muckrack.com/kate-h-withers', 86, 82806), ('https://muckrack.com/laura-withers', 86, 91269), ('https://muckrack.com/matt-withers', 86, 104704)]
highest matching https://muckrack.com/curtis-withers

processing Helen Carter
subset dataframe with carter, found 265 rows
ratios [('https://muckrack.com/aaron-carter', 86, 330), ('https://muckrack.com/adam-carter', 86, 1246), ('https://muckrack.com/adam-carter-1', 86, 1247), ('https://muckrack.com/aisha-carter', 86, 2651), ('https://muckrack.com/al-carter-bey', 86, 2909)]
highest matching https://muckrack.com/aaron-carter

processing Luke Traynor
subset dataframe with traynor, found 10 rows
ratios [('https://muckrack.com/donna-traynor', 86, 43043), ('https://muckrack.com/kate-traynor', 86, 83053), ('https://muckrack.com/prue-traynor', 86, 124817), ('https://muckrack.com/andrea-traynor', 86, 163336), ('https://muckrack.com/bradley-traynor', 86, 168219)]
highest matching https://muckrack.com/donna-traynor

processing Jon Blistein
subset dataframe with blistein, found 0 rows
no matches

processing Jacob Siegal
subset dataframe with siegal, found 9 rows
ratios [('https://muckrack.com/daniel-siegal', 86, 36188), ('https://muckrack.com/ida-siegal', 86, 61065), ('https://muckrack.com/nina-siegal', 86, 117685), ('https://muckrack.com/brian-d-siegal', 86, 168668), ('https://muckrack.com/margie-siegal', 86, 204331)]
highest matching https://muckrack.com/daniel-siegal

processing Dave McNary
subset dataframe with mcnary, found 1 rows
ratios [('https://muckrack.com/variety_dmcnary', 58, 155076)]
highest matching https://muckrack.com/variety_dmcnary

processing Torcuil Crichton
subset dataframe with crichton, found 10 rows
ratios [('https://muckrack.com/doug-crichton', 86, 43245), ('https://muckrack.com/emma-crichton', 86, 47659), ('https://muckrack.com/emma-crichton-miller', 86, 47660), ('https://muckrack.com/ginger-crichton', 86, 55170), ('https://muckrack.com/james-crichton-smith', 86, 63939)]
highest matching https://muckrack.com/doug-crichton

processing Keith Pompey
subset dataframe with pompey, found 2 rows
ratios [('https://muckrack.com/harold-pompey', 86, 185541), ('https://muckrack.com/pompeysgridlock', 60, 124466)]
highest matching https://muckrack.com/harold-pompey

processing Vinny Somma
subset dataframe with vinny, found 11 rows
ratios [('https://muckrack.com/vinny-benedetto', 86, 156050), ('https://muckrack.com/vinny-foo', 86, 156051), ('https://muckrack.com/vinny-hurrell', 86, 156052), ('https://muckrack.com/vinny-parisi', 86, 156053), ('https://muckrack.com/vinny-steves', 86, 156054)]
highest matching https://muckrack.com/vinny-benedetto

processing Danny Cyril D Cruze
subset dataframe with danny, found 208 rows
ratios [('https://muckrack.com/danny-adams-1', 86, 36692), ('https://muckrack.com/danny-agnew', 86, 36693), ('https://muckrack.com/danny-angove', 86, 36694), ('https://muckrack.com/danny-bakst', 86, 36695), ('https://muckrack.com/danny-benavides', 86, 36696)]
highest matching https://muckrack.com/danny-adams-1

processing Stephen Mosher
subset dataframe with stephen, found 785 rows
ratios [('https://muckrack.com/adam-stephen', 86, 1667), ('https://muckrack.com/anne-marie-stephen', 86, 11990), ('https://muckrack.com/bijan-stephen', 86, 17995), ('https://muckrack.com/chris-stephen', 86, 29356), ('https://muckrack.com/cindy-stephen', 86, 31136)]
highest matching https://muckrack.com/adam-stephen

processing Levi Parsons
subset dataframe with parsons, found 64 rows
ratios [('https://muckrack.com/adam-parsons', 86, 1549), ('https://muckrack.com/andy-parsons', 86, 10315), ('https://muckrack.com/brian-parsons', 86, 21371), ('https://muckrack.com/cassandra-parsons', 86, 25604), ('https://muckrack.com/cecilia-parsons', 86, 26387)]
highest matching https://muckrack.com/adam-parsons

processing GOH YAN HAN

subset dataframe with goh, found 28 rows
ratios [('https://muckrack.com/daniel-goh', 86, 35905), ('https://muckrack.com/ginny-ann-goh', 86, 55196), ('https://muckrack.com/goh-sui-noi', 86, 55646), ('https://muckrack.com/jassmyn-goh', 86, 66680), ('https://muckrack.com/katie-goh', 86, 84048)]
highest matching https://muckrack.com/daniel-goh

processing Chris  Basnett
subset dataframe with basnett, found 2 rows
ratios [('https://muckrack.com/guy-basnett', 86, 57141), ('https://muckrack.com/cbasnett', 66, 26218)]
highest matching https://muckrack.com/guy-basnett

processing Daniel Kreps
subset dataframe with daniel, found 1587 rows
ratios [('https://muckrack.com/aaron-daniel', 86, 344), ('https://muckrack.com/alex-daniel', 86, 3944), ('https://muckrack.com/alex-daniel-1', 86, 3945), ('https://muckrack.com/alice-daniel', 86, 5415), ('https://muckrack.com/angel-daniel-torres', 86, 10523)]
highest matching https://muckrack.com/aaron-daniel

processing Paul Hutcheon
subset dataframe with hutcheon, found 4 rows
ratios [('https://muckrack.com/shawn-hutcheon', 86, 140034), ('https://muckrack.com/stephen-hutcheon', 86, 143997), ('https://muckrack.com/terilyn-hutcheon-zawrotny', 86, 226524), ('https://muckrack.com/paulhutcheon', 83, 121919)]
highest matching https://muckrack.com/shawn-hutcheon

processing Charlie Coë
subset dataframe with charlie, found 267 rows
ratios [('https://muckrack.com/charlie-connell', 90, 27163), ('https://muckrack.com/charlie-cook-4', 90, 27164), ('https://muckrack.com/charlie-cookson-1', 90, 171381), ('https://muckrack.com/charlie-cooper-5', 90, 171382), ('https://muckrack.com/adith-charlie', 86, 1937)]
highest matching https://muckrack.com/charlie-connell

processing Amy Graff, SFGATE
subset dataframe with graff, found 20 rows
ratios [('https://muckrack.com/bernd-graff', 86, 17265), ('https://muckrack.com/brett-graff', 86, 20804), ('https://muckrack.com/chad-graff', 86, 26649), ('https://muckrack.com/diane-graff', 86, 41855), ('https://muckrack.com/e-j-graff', 86, 44191)]
highest matching https://muckrack.com/bernd-graff

processing Jason Cipriani
subset dataframe with cipriani, found 3 rows
ratios [('https://muckrack.com/casey-cipriani', 86, 25468), ('https://muckrack.com/laurent-cipriani', 86, 92037), ('https://muckrack.com/marciecipriani', 58, 99540)]
highest matching https://muckrack.com/casey-cipriani

processing Amanda Thomason
subset dataframe with thomason, found 9 rows
ratios [('https://muckrack.com/andy-thomason', 86, 10391), ('https://muckrack.com/brittni-thomason', 86, 22121), ('https://muckrack.com/chase-thomason', 86, 27547), ('https://muckrack.com/dennis-thomason', 86, 41139), ('https://muckrack.com/jason-thomason', 86, 66556)]
highest matching https://muckrack.com/andy-thomason

processing Ana Suarez
subset dataframe with suarez, found 32 rows
ratios [('https://muckrack.com/johana-suarez', 90, 74354), ('https://muckrack.com/ana-veciana-suarez', 90, 163095), ('https://muckrack.com/laura-grana-suarez', 90, 200312), ('https://muckrack.com/alfredo-suarez', 86, 5241), ('https://muckrack.com/ana-luisa-suarez', 86, 8402)]
highest matching https://muckrack.com/johana-suarez

processing Sean Murphy
subset dataframe with murphy, found 337 rows
ratios [('https://muckrack.com/sean-murphy-37', 90, 138487), ('https://muckrack.com/sean-murphy-40', 90, 138488), ('https://muckrack.com/sean-murphy-55', 90, 221860), ('https://muckrack.com/sean-murphy-87', 90, 221861), ('https://muckrack.com/adam-murphy', 86, 1522)]
highest matching https://muckrack.com/sean-murphy-37

processing Omar Kelly
subset dataframe with kelly, found 800 rows
ratios [('https://muckrack.com/adrianne-kelly', 86, 2178), ('https://muckrack.com/alanna-kelly', 86, 3350), ('https://muckrack.com/alexandra-rosario-kelly', 86, 4802), ('https://muckrack.com/alicia-kelly-5', 86, 5592), ('https://muckrack.com/amanda-kelly', 86, 7080)]
highest matching https://muckrack.com/adrianne-kelly

processing Matt Murschel
subset dataframe with murschel, found 1 rows
ratios [('https://muckrack.com/osmattmurschel', 83, 119333)]
highest matching https://muckrack.com/osmattmurschel

processing Joshua Caplan
subset dataframe with joshua, found 309 rows
ratios [('https://muckrack.com/hannah-joshua', 86, 57782), ('https://muckrack.com/joshua-a-bickel', 86, 78713), ('https://muckrack.com/joshua-adams', 86, 78714), ('https://muckrack.com/joshua-adams-1', 86, 78715), ('https://muckrack.com/joshua-balling', 86, 78716)]
highest matching https://muckrack.com/hannah-joshua

processing Rory Tingle
subset dataframe with tingle, found 11 rows
ratios [('https://muckrack.com/casey-tingle', 86, 25533), ('https://muckrack.com/lauren-tingle', 86, 91865), ('https://muckrack.com/len-tingle', 86, 92944), ('https://muckrack.com/tom-tingle', 86, 152384), ('https://muckrack.com/latingle', 66, 90593)]
highest matching https://muckrack.com/casey-tingle

processing @pang-chieh
subset dataframe with chieh, found 3 rows
ratios [('https://muckrack.com/pang-chieh-ho', 90, 119881), ('https://muckrack.com/lee-hui-chieh', 86, 92599), ('https://muckrack.com/richiehecker', 54, 217712)]
highest matching https://muckrack.com/pang-chieh-ho

processing Gráinne Ní Aodha
subset dataframe with gráinne, found 0 rows
no matches

processing Amanda Kooser
subset dataframe with amanda, found 648 rows
ratios [('https://muckrack.com/amanda-abrams', 86, 6900), ('https://muckrack.com/amanda-adame', 86, 6901), ('https://muckrack.com/amanda-agee', 86, 6902), ('https://muckrack.com/amanda-aguilar', 86, 6903), ('https://muckrack.com/amanda-akass', 86, 6904)]
highest matching https://muckrack.com/amanda-abrams

processing Stephen Rex Brown
subset dataframe with stephen, found 785 rows
ratios [('https://muckrack.com/adam-stephen', 86, 1667), ('https://muckrack.com/anne-marie-stephen', 86, 11990), ('https://muckrack.com/bijan-stephen', 86, 17995), ('https://muckrack.com/chris-stephen', 86, 29356), ('https://muckrack.com/cindy-stephen', 86, 31136)]
highest matching https://muckrack.com/adam-stephen

processing Jon Nyatawa World-Herald staff writer
subset dataframe with nyatawa, found 1 rows
ratios [('https://muckrack.com/jonnyatawa', 40, 77382)]
highest matching https://muckrack.com/jonnyatawa

processing Ann O’Loughlin
subset dataframe with o’loughlin, found 0 rows
no matches

processing LIM RUEY YAN
subset dataframe with ruey, found 3 rows
ratios [('https://muckrack.com/ruey-yen', 86, 219492), ('https://muckrack.com/joshua-cruey', 50, 195000), ('https://muckrack.com/cbrueywftv', 45, 26245)]
highest matching https://muckrack.com/ruey-yen

processing Rónán Duffy
subset dataframe with rónán, found 0 rows
no matches

processing Keith Groller
subset dataframe with groller, found 1 rows
ratios [('https://muckrack.com/keithgroller', 86, 85207)]
highest matching https://muckrack.com/keithgroller

processing Joe Otterson
subset dataframe with otterson, found 1 rows
ratios [('https://muckrack.com/joeotterson', 83, 74216)]
highest matching https://muckrack.com/joeotterson

processing Richard Davenport
subset dataframe with davenport, found 33 rows
ratios [('https://muckrack.com/anne-davenport', 86, 11883), ('https://muckrack.com/ashley-davenport', 86, 14014), ('https://muckrack.com/charles-davenport-jr', 86, 26951), ('https://muckrack.com/cole-davenport', 86, 32305), ('https://muckrack.com/curt-davenport', 86, 34060)]
highest matching https://muckrack.com/anne-davenport

processing SCOTT BAUER
subset dataframe with scott, found 1435 rows
ratios [('https://muckrack.com/aaron-scott', 86, 500), ('https://muckrack.com/al-scott-1', 86, 2961), ('https://muckrack.com/al-scott-2', 86, 2962), ('https://muckrack.com/alison-scott-2', 86, 5910), ('https://muckrack.com/allen-scott-1', 86, 6192)]
highest matching https://muckrack.com/aaron-scott

processing Jason Evans
subset dataframe with jason, found 882 rows
ratios [('https://muckrack.com/jason-evans-5', 90, 66216), ('https://muckrack.com/jason-evans-9', 90, 66217), ('https://muckrack.com/christopher-jason', 86, 30612), ('https://muckrack.com/jason-a-levy', 86, 66087), ('https://muckrack.com/jason-aaron', 86, 66088)]
highest matching https://muckrack.com/jason-evans-5

processing GREG BEACHAM
subset dataframe with beacham, found 3 rows
ratios [('https://muckrack.com/gregbeacham', 86, 56662), ('https://muckrack.com/will-beacham', 86, 157234), ('https://muckrack.com/stephenbeacham', 60, 144223)]
highest matching https://muckrack.com/gregbeacham

processing Cónal Thomas

subset dataframe with thomas, found 991 rows
ratios [('https://muckrack.com/aaron-thomas-2', 86, 524), ('https://muckrack.com/aby-sam-thomas', 86, 1072), ('https://muckrack.com/adam-thomas-2', 86, 1683), ('https://muckrack.com/alan-thomas-6', 86, 3237), ('https://muckrack.com/aled-thomas', 86, 3610)]
highest matching https://muckrack.com/aaron-thomas-2

processing Pádraig Hoare
subset dataframe with pádraig, found 0 rows
no matches

processing Steve Neville
subset dataframe with neville, found 27 rows
ratios [('https://muckrack.com/alice-neville', 86, 5483), ('https://muckrack.com/anne-neville', 86, 12012), ('https://muckrack.com/conor-neville', 86, 32844), ('https://muckrack.com/john-neville', 86, 75486), ('https://muckrack.com/mark-neville', 86, 101821)]
highest matching https://muckrack.com/alice-neville

processing Shawn Langlois
subset dataframe with langlois, found 9 rows
ratios [('https://muckrack.com/emmanuel-langlois', 86, 48015), ('https://muckrack.com/jeffrey-langlois-1', 86, 68342), ('https://muckrack.com/jill-langlois', 86, 71580), ('https://muckrack.com/krista-langlois', 86, 88703), ('https://muckrack.com/mario-langlois', 86, 100892)]
highest matching https://muckrack.com/emmanuel-langlois

processing Christine Dempsey
subset dataframe with christine, found 387 rows
ratios [('https://muckrack.com/anne-christine-dadesky-2', 86, 11867), ('https://muckrack.com/casey-christine', 86, 25467), ('https://muckrack.com/christine-a-dejoy', 86, 30196), ('https://muckrack.com/christine-a-kerr', 86, 30197), ('https://muckrack.com/christine-ajudua', 86, 30198)]
highest matching https://muckrack.com/anne-christine-dadesky-2

processing Tom Collomosse
subset dataframe with collomosse, found 0 rows
no matches

processing Ophelia Research
subset dataframe with ophelia, found 1 rows
ratios [('https://muckrack.com/ophelia-buckleton', 86, 212991)]
highest matching https://muckrack.com/ophelia-buckleton

processing Matthew J. Palm
subset dataframe with matthew, found 886 rows
ratios [('https://muckrack.com/harry-matthew', 86, 58301), ('https://muckrack.com/matthew-aaron-2', 86, 104811), ('https://muckrack.com/matthew-abbey', 86, 104812), ('https://muckrack.com/matthew-ablon', 86, 104813), ('https://muckrack.com/matthew-adams-5', 86, 104814)]
highest matching https://muckrack.com/harry-matthew

processing TIM BOOTH
subset dataframe with booth, found 70 rows
ratios [('https://muckrack.com/alex-strangwayes-booth', 86, 4399), ('https://muckrack.com/ali-booth', 86, 5267), ('https://muckrack.com/alicia-booth', 86, 5565), ('https://muckrack.com/amy-booth', 86, 7820), ('https://muckrack.com/barbara-booth', 86, 15284)]
highest matching https://muckrack.com/alex-strangwayes-booth

processing Amie Gordon
subset dataframe with gordon, found 265 rows
ratios [('https://muckrack.com/jamie-gordon', 90, 64843), ('https://muckrack.com/alan-gordon', 86, 3105), ('https://muckrack.com/ali-gordon', 86, 5288), ('https://muckrack.com/amie-m-gordon', 86, 7612), ('https://muckrack.com/andrea-gordon', 86, 8805)]
highest matching https://muckrack.com/jamie-gordon

processing James D. Watts Jr. Tulsa World
subset dataframe with james, found 1757 rows
ratios [('https://muckrack.com/christopher-james-palafox', 86, 30611), ('https://muckrack.com/james-fitzgerald-freelance', 86, 64038), ('https://muckrack.com/james-watts-1', 57, 64564), ('https://muckrack.com/james-nold-jr', 57, 188473), ('https://muckrack.com/james-matthews-3', 51, 64272)]
highest matching https://muckrack.com/christopher-james-palafox

processing Mark DeCambre
subset dataframe with decambre, found 1 rows
ratios [('https://muckrack.com/mdecambre', 73, 106216)]
highest matching https://muckrack.com/mdecambre

processing Ciarán Sunderland
subset dataframe with sunderland, found 6 rows
ratios [('https://muckrack.com/dan-sunderland', 86, 35359), ('https://muckrack.com/kelsey-sunderland', 86, 85777), ('https://muckrack.com/ruth-sunderland', 86, 133094), ('https://muckrack.com/ciaran-sunderland', 86, 173124), ('https://muckrack.com/susan-kang-sunderland', 86, 225418)]
highest matching https://muckrack.com/dan-sunderland

processing LIM MIN ZHANG
subset dataframe with zhang, found 90 rows
ratios [('https://muckrack.com/angelica-cheung-zhang-yu', 86, 10763), ('https://muckrack.com/charlie-zhang', 86, 27292), ('https://muckrack.com/christine-zhang', 86, 30416), ('https://muckrack.com/fan-helen-casey-zhang', 86, 50614), ('https://muckrack.com/izabela-radwanska-zhang', 86, 62149)]
highest matching https://muckrack.com/angelica-cheung-zhang-yu

processing Pippa Crerar
subset dataframe with crerar, found 2 rows
ratios [('https://muckrack.com/pippacrerar', 86, 124300), ('https://muckrack.com/simoncrerar', 52, 223217)]
highest matching https://muckrack.com/pippacrerar

processing David Irwin
subset dataframe with david, found 2995 rows
ratios [('https://muckrack.com/ameera-david', 86, 7517), ('https://muckrack.com/b-david-zarley', 86, 15097), ('https://muckrack.com/calev-ben-david', 86, 23443), ('https://muckrack.com/cara-joy-david', 86, 23991), ('https://muckrack.com/christophe-david', 86, 30484)]
highest matching https://muckrack.com/ameera-david

processing Sam Shead
subset dataframe with shead, found 8 rows
ratios [('https://muckrack.com/slshead', 70, 141869), ('https://muckrack.com/antony-adshead', 60, 12852), ('https://muckrack.com/brian-hollingshead-1', 50, 21178), ('https://muckrack.com/lee-mottershead', 50, 92637), ('https://muckrack.com/matt-hollinshead', 50, 104188)]
highest matching https://muckrack.com/slshead

processing Les Bowen
subset dataframe with bowen, found 45 rows
ratios [('https://muckrack.com/alison-bowen', 86, 5780), ('https://muckrack.com/alys-bowen', 86, 6690), ('https://muckrack.com/alyss-bowen', 86, 6736), ('https://muckrack.com/bill-bowen', 86, 18069), ('https://muckrack.com/bliss-bowen', 86, 18912)]
highest matching https://muckrack.com/alison-bowen

processing Joe Mario Pedersen
subset dataframe with pedersen, found 29 rows
ratios [('https://muckrack.com/adrienne-pedersen', 86, 2229), ('https://muckrack.com/amanda-pedersen', 86, 7173), ('https://muckrack.com/birthe-pedersen', 86, 18690), ('https://muckrack.com/brian-pedersen', 86, 21377), ('https://muckrack.com/camilla-stergaard-pedersen', 86, 23737)]
highest matching https://muckrack.com/adrienne-pedersen

processing J. Peterson
subset dataframe with peterson, found 156 rows
ratios [('https://muckrack.com/adam-peterson-1', 86, 1555), ('https://muckrack.com/alex-peterson', 86, 4284), ('https://muckrack.com/althea-peterson', 86, 6601), ('https://muckrack.com/amanda-peterson', 86, 7177), ('https://muckrack.com/amy-peterson-1', 86, 8103)]
highest matching https://muckrack.com/adam-peterson-1

processing Larry Dignan
subset dataframe with dignan, found 5 rows
ratios [('https://muckrack.com/clare-dignan', 86, 31581), ('https://muckrack.com/janet-dignan', 86, 65551), ('https://muckrack.com/sara-dignan', 86, 135828), ('https://muckrack.com/aaron-dignan', 86, 159674), ('https://muckrack.com/ldignan', 57, 92294)]
highest matching https://muckrack.com/clare-dignan

processing Ravindra N. Sonavane
subset dataframe with ravindra, found 5 rows
ratios [('https://muckrack.com/ravindra-kumar', 86, 126651), ('https://muckrack.com/ravindra-sonavane', 86, 126652), ('https://muckrack.com/shruti-ravindran', 52, 140854), ('https://muckrack.com/mohana-ravindranath', 50, 112335), ('https://muckrack.com/sushila-ravindranath', 50, 225573)]
highest matching https://muckrack.com/ravindra-kumar

processing Ross Thomson
subset dataframe with thomson, found 67 rows
ratios [('https://muckrack.com/ainsley-thomson', 86, 2639), ('https://muckrack.com/ak-thomson', 86, 2803), ('https://muckrack.com/alice-thomson', 86, 5518), ('https://muckrack.com/aly-thomson', 86, 6669), ('https://muckrack.com/amelia-thomson--deveaux', 86, 7561)]
highest matching https://muckrack.com/ainsley-thomson

processing Noel Baker
subset dataframe with baker, found 295 rows
ratios [('https://muckrack.com/noel-baker', 90, 117966), ('https://muckrack.com/abbe-baker', 86, 630), ('https://muckrack.com/addison-baker', 86, 1837), ('https://muckrack.com/allison-baker', 86, 6290), ('https://muckrack.com/amanda-baker', 86, 6917)]
highest matching https://muckrack.com/noel-baker

processing Michael Gartland

subset dataframe with gartland, found 4 rows
ratios [('https://muckrack.com/michaelgartland', 87, 109380), ('https://muckrack.com/dan-gartland', 86, 34958), ('https://muckrack.com/fiona-gartland', 86, 51260), ('https://muckrack.com/annette-gartland', 86, 164686)]
highest matching https://muckrack.com/michaelgartland

processing Richard Youle
subset dataframe with richard, found 1146 rows
ratios [('https://muckrack.com/barry-richard', 86, 15584), ('https://muckrack.com/brandon-richard', 86, 20227), ('https://muckrack.com/craig-richard', 86, 33643), ('https://muckrack.com/deneysha-richard', 86, 40842), ('https://muckrack.com/don-richard-on', 86, 42828)]
highest matching https://muckrack.com/barry-richard

processing George Morgan
subset dataframe with george, found 563 rows
ratios [('https://muckrack.com/alex-george', 86, 4028), ('https://muckrack.com/alexander-george', 86, 4573), ('https://muckrack.com/alexandra-george', 86, 4712), ('https://muckrack.com/amy-george', 86, 7931), ('https://muckrack.com/anil-george', 86, 10988)]
highest matching https://muckrack.com/alex-george

processing BS Reporter
subset dataframe with reporter, found 61 rows
ratios [('https://muckrack.com/frederick-melo-reporter', 86, 52480), ('https://muckrack.com/boyreporter', 74, 19702), ('https://muckrack.com/cutimesreporter', 74, 34138), ('https://muckrack.com/jo-stephensonreporter', 74, 72751), ('https://muckrack.com/joebreporter', 74, 73972)]
highest matching https://muckrack.com/frederick-melo-reporter

processing Martyn Ziegler, Chief Sports Reporter
subset dataframe with ziegler, found 19 rows
ratios [('https://muckrack.com/roger-ziegler', 50, 218894), ('https://muckrack.com/chris-ziegler', 48, 29540), ('https://muckrack.com/heather-ziegler', 48, 58907), ('https://muckrack.com/jean-pierre-ziegler', 48, 67432), ('https://muckrack.com/jeffrey-ziegler', 47, 68388)]
highest matching https://muckrack.com/roger-ziegler

processing Bill Haisten Tulsa World
subset dataframe with haisten, found 2 rows
ratios [('https://muckrack.com/billhaisten', 56, 18539), ('https://muckrack.com/haisten-willis', 50, 57366)]
highest matching https://muckrack.com/billhaisten

processing Janet W. Lee
subset dataframe with janet, found 185 rows
ratios [('https://muckrack.com/janet-adamy', 86, 65529), ('https://muckrack.com/janet-adkison', 86, 65530), ('https://muckrack.com/janet-alvarez', 86, 65531), ('https://muckrack.com/janet-b-carson', 86, 65532), ('https://muckrack.com/janet-babin', 86, 65533)]
highest matching https://muckrack.com/janet-adamy

processing Michael Wiggins De Oliveira
subset dataframe with oliveira, found 26 rows
ratios [('https://muckrack.com/jeferson-cardoso-de-oliveira', 86, 67633), ('https://muckrack.com/rodrigo-elias-oliveira', 86, 131300), ('https://muckrack.com/barbara-de-oliveira-pinto', 86, 166111), ('https://muckrack.com/cleuci-de-oliveira', 55, 31972), ('https://muckrack.com/rosane-de-oliveira', 55, 132075)]
highest matching https://muckrack.com/jeferson-cardoso-de-oliveira

processing SCOTT RABALAIS | Sports columnist
subset dataframe with rabalais, found 1 rows
ratios [('https://muckrack.com/rabalaisadv', 41, 125047)]
highest matching https://muckrack.com/rabalaisadv

processing Órla Ryan
subset dataframe with órla, found 0 rows
no matches

processing Dom Amore
subset dataframe with amore, found 19 rows
ratios [('https://muckrack.com/samson-amore', 86, 135251), ('https://muckrack.com/amorecourant', 80, 7738), ('https://muckrack.com/cdellamore', 76, 26305), ('https://muckrack.com/charlotteannecreamore', 76, 171510), ('https://muckrack.com/bert-latamore', 67, 17320)]
highest matching https://muckrack.com/samson-amore

processing MESFIN FEKADU
subset dataframe with mesfin, found 2 rows
ratios [('https://muckrack.com/kirubel-mesfin', 86, 199095), ('https://muckrack.com/musicmesfin', 53, 113416)]
highest matching https://muckrack.com/kirubel-mesfin

processing ARNIE STAPLETON
subset dataframe with stapleton, found 17 rows
ratios [('https://muckrack.com/arniestapleton', 87, 13554), ('https://muckrack.com/amy-stapleton-2', 86, 8181), ('https://muckrack.com/anneclaire-stapleton', 86, 12074), ('https://muckrack.com/christine-stapleton', 86, 30386), ('https://muckrack.com/dan-f-stapleton', 86, 34931)]
highest matching https://muckrack.com/arniestapleton

processing James Dutton
subset dataframe with dutton, found 25 rows
ratios [('https://muckrack.com/audrey-dutton', 86, 14577), ('https://muckrack.com/chris-dutton', 86, 28582), ('https://muckrack.com/dave-dutton', 86, 37475), ('https://muckrack.com/gail-dutton', 86, 53014), ('https://muckrack.com/holly-dutton', 86, 60001)]
highest matching https://muckrack.com/audrey-dutton

processing Karen Ann Cullotta
subset dataframe with cullotta, found 1 rows
ratios [('https://muckrack.com/karen-cullotta', 86, 81823)]
highest matching https://muckrack.com/karen-cullotta

processing Wally Hall
subset dataframe with wally, found 16 rows
ratios [('https://muckrack.com/maxine-wally', 86, 105904), ('https://muckrack.com/wally-boyko', 86, 156442), ('https://muckrack.com/wally-griffith', 86, 156443), ('https://muckrack.com/wally-haas', 86, 156444), ('https://muckrack.com/wally-hindes', 86, 156445)]
highest matching https://muckrack.com/maxine-wally

processing Jimmie Tramel Tulsa World
subset dataframe with jimmie, found 6 rows
ratios [('https://muckrack.com/jimmietramel', 51, 72382), ('https://muckrack.com/julia-jimmie', 51, 195498), ('https://muckrack.com/jimmie-gates', 48, 72379), ('https://muckrack.com/jimmie-kaska', 48, 72381), ('https://muckrack.com/jimmie-franklin', 48, 192193)]
highest matching https://muckrack.com/jimmietramel

processing Jennifer Jean Miller
subset dataframe with jennifer, found 999 rows
ratios [('https://muckrack.com/jennifer-a-bryant', 86, 68912), ('https://muckrack.com/jennifer-a-burman', 86, 68913), ('https://muckrack.com/jennifer-ablan', 86, 68914), ('https://muckrack.com/jennifer-acevedo', 86, 68915), ('https://muckrack.com/jennifer-ackerman', 86, 68916)]
highest matching https://muckrack.com/jennifer-a-bryant

processing Dewayne Bevil
subset dataframe with dewayne, found 2 rows
ratios [('https://muckrack.com/dewayne-patterson-1', 86, 41593), ('https://muckrack.com/dewayne-blaq', 86, 177876)]
highest matching https://muckrack.com/dewayne-patterson-1

processing Quentin Fottrell
subset dataframe with fottrell, found 0 rows
no matches

processing David Hinojosa
subset dataframe with hinojosa, found 3 rows
ratios [('https://muckrack.com/jesus-hinojosa', 86, 71351), ('https://muckrack.com/maria-hinojosa', 86, 100178), ('https://muckrack.com/hinojosa_david', 58, 59851)]
highest matching https://muckrack.com/jesus-hinojosa

processing Barbara Kollmeyer
subset dataframe with kollmeyer, found 1 rows
ratios [('https://muckrack.com/bkollmeyer', 53, 18749)]
highest matching https://muckrack.com/bkollmeyer

processing Miller Kern
subset dataframe with miller, found 659 rows
ratios [('https://muckrack.com/aaron-miller-20', 86, 440), ('https://muckrack.com/aaron-miller-6', 86, 441), ('https://muckrack.com/abbe-miller', 86, 631), ('https://muckrack.com/adam-miller', 86, 1505), ('https://muckrack.com/adam-miller-6', 86, 1506)]
highest matching https://muckrack.com/aaron-miller-20

processing ROD WALKER | Staff writer
subset dataframe with walker, found 342 rows
ratios [('https://muckrack.com/chris-stokel-walker', 86, 29366), ('https://muckrack.com/christine-walker-1', 86, 30406), ('https://muckrack.com/ellie-walker-arnott', 86, 46510), ('https://muckrack.com/james-walker-roberts', 86, 64547), ('https://muckrack.com/jamesetta-m-walker', 86, 64648)]
highest matching https://muckrack.com/chris-stokel-walker

processing CARLIE KOLLATH WELLS | Staff writer
subset dataframe with kollath, found 1 rows
ratios [('https://muckrack.com/carliekollath', 52, 24306)]
highest matching https://muckrack.com/carliekollath

processing Dominic Walsh
subset dataframe with dominic, found 141 rows
ratios [('https://muckrack.com/arthur-dominic-villasanta', 86, 13681), ('https://muckrack.com/dominic-adriaanse', 86, 42544), ('https://muckrack.com/dominic-armato', 86, 42545), ('https://muckrack.com/dominic-bailey', 86, 42546), ('https://muckrack.com/dominic-bayley', 86, 42547)]
highest matching https://muckrack.com/arthur-dominic-villasanta

processing Jesse Leavenworth

subset dataframe with leavenworth, found 3 rows
ratios [('https://muckrack.com/christina-leavenworth', 86, 30092), ('https://muckrack.com/stuart-leavenworth', 86, 145694), ('https://muckrack.com/jessleavenworth', 79, 71304)]
highest matching https://muckrack.com/christina-leavenworth

processing Swaraj Singh Dhanjal
subset dataframe with dhanjal, found 1 rows
ratios [('https://muckrack.com/dee-dhanjal', 86, 177413)]
highest matching https://muckrack.com/dee-dhanjal

processing Linda Daly
subset dataframe with linda, found 507 rows
ratios [('https://muckrack.com/bydr-linda-calabresi', 86, 22998), ('https://muckrack.com/lentz-linda', 86, 93008), ('https://muckrack.com/linda-a-ditch-189762', 86, 94072), ('https://muckrack.com/linda-aksomitis', 86, 94073), ('https://muckrack.com/linda-albert', 86, 94074)]
highest matching https://muckrack.com/bydr-linda-calabresi

processing Chris Rickert | Wisconsin State Journal
subset dataframe with rickert, found 3 rows
ratios [('https://muckrack.com/aprile-rickert', 47, 13088), ('https://muckrack.com/janice-rickert', 47, 65695), ('https://muckrack.com/chrisrickertwsj', 46, 29681)]
highest matching https://muckrack.com/aprile-rickert

processing Alistair Foster
subset dataframe with alistair, found 48 rows
ratios [('https://muckrack.com/alistair-anderson', 86, 6004), ('https://muckrack.com/alistair-bell', 86, 6005), ('https://muckrack.com/alistair-binney', 86, 6006), ('https://muckrack.com/alistair-bushe', 86, 6007), ('https://muckrack.com/alistair-clark', 86, 6008)]
highest matching https://muckrack.com/alistair-anderson

processing Paul Krugman
subset dataframe with krugman, found 2 rows
ratios [('https://muckrack.com/scott-krugman', 86, 221561), ('https://muckrack.com/nytimeskrugman', 52, 118430)]
highest matching https://muckrack.com/scott-krugman

processing Cynthia Littleton
subset dataframe with littleton, found 4 rows
ratios [('https://muckrack.com/julia-littleton', 86, 79843), ('https://muckrack.com/lori-littleton', 86, 96121), ('https://muckrack.com/shandra-littleton', 86, 139322), ('https://muckrack.com/wade-littleton', 86, 156388)]
highest matching https://muckrack.com/julia-littleton

processing Jordan J. Wilson
subset dataframe with jordan, found 470 rows
ratios [('https://muckrack.com/ailbhe-jordan', 86, 2522), ('https://muckrack.com/alex-jordan-3', 86, 4117), ('https://muckrack.com/andrea-jordan', 86, 8839), ('https://muckrack.com/anna-jordan-1', 86, 11468), ('https://muckrack.com/ben-jordan', 86, 16471)]
highest matching https://muckrack.com/ailbhe-jordan

processing Dan Primack
subset dataframe with primack, found 1 rows
ratios [('https://muckrack.com/danprimack', 82, 36836)]
highest matching https://muckrack.com/danprimack

processing James Delingpole
subset dataframe with delingpole, found 0 rows
no matches

processing Sam Carchidi
subset dataframe with carchidi, found 1 rows
ratios [('https://muckrack.com/jim-carchidi', 86, 71817)]
highest matching https://muckrack.com/jim-carchidi

processing Phil Rosenthal
subset dataframe with rosenthal, found 37 rows
ratios [('https://muckrack.com/abigail-rosenthal', 86, 985), ('https://muckrack.com/alyssa-rosenthal', 86, 6812), ('https://muckrack.com/ben-rosenthal', 86, 16684), ('https://muckrack.com/dave-rosenthal', 86, 37760), ('https://muckrack.com/eelco-bosch-van-rosenthal', 86, 44973)]
highest matching https://muckrack.com/abigail-rosenthal

processing David Coverdale
subset dataframe with coverdale, found 3 rows
ratios [('https://muckrack.com/troy-coverdale', 86, 153945), ('https://muckrack.com/brydon-coverdale', 86, 169460), ('https://muckrack.com/dpcoverdale', 60, 43547)]
highest matching https://muckrack.com/troy-coverdale

processing The Doctor Chris Mueller
subset dataframe with mueller, found 54 rows
ratios [('https://muckrack.com/anthony-mueller', 86, 12582), ('https://muckrack.com/benjamin-mueller', 86, 16992), ('https://muckrack.com/christina-mueller', 86, 30116), ('https://muckrack.com/claudia-mueller', 86, 31795), ('https://muckrack.com/cristina-mueller', 86, 33852)]
highest matching https://muckrack.com/anthony-mueller

processing Michael R. Wickline
subset dataframe with wickline, found 2 rows
ratios [('https://muckrack.com/mike-wickline', 86, 111244), ('https://muckrack.com/dan-wickline', 86, 174943)]
highest matching https://muckrack.com/mike-wickline

processing CARA WONG
subset dataframe with cara, found 161 rows
ratios [('https://muckrack.com/cara-anna', 86, 23963), ('https://muckrack.com/cara-anthony', 86, 23964), ('https://muckrack.com/cara-ball', 86, 23965), ('https://muckrack.com/cara-birnbaum', 86, 23966), ('https://muckrack.com/cara-brannan', 86, 23967)]
highest matching https://muckrack.com/cara-anna

processing Bruce Y. Lee
subset dataframe with bruce, found 313 rows
ratios [('https://muckrack.com/alec-bruce', 86, 3564), ('https://muckrack.com/alex-bruce-smith', 86, 3877), ('https://muckrack.com/alexandria-bruce', 86, 4908), ('https://muckrack.com/becky-bruce', 86, 15951), ('https://muckrack.com/bruce', 86, 22330)]
highest matching https://muckrack.com/alec-bruce

processing Jeff Hartsell jhartsell@postandcourier.com
subset dataframe with hartsell, found 2 rows
ratios [('https://muckrack.com/carol-ray-hartsell', 53, 24750), ('https://muckrack.com/mark-hartsell-1', 52, 205062)]
highest matching https://muckrack.com/carol-ray-hartsell

processing Jeffry Bartash
subset dataframe with bartash, found 1 rows
ratios [('https://muckrack.com/jbartash', 55, 67154)]
highest matching https://muckrack.com/jbartash

processing PAN PYLAS
subset dataframe with pylas, found 0 rows
no matches

processing Janelle Okwodu
subset dataframe with janelle, found 49 rows
ratios [('https://muckrack.com/janelle-atyeo', 86, 65486), ('https://muckrack.com/janelle-bitker', 86, 65487), ('https://muckrack.com/janelle-blakley', 86, 65488), ('https://muckrack.com/janelle-bonanno', 86, 65489), ('https://muckrack.com/janelle-burrell', 86, 65490)]
highest matching https://muckrack.com/janelle-atyeo

processing Randy Krehbiel Tulsa World
subset dataframe with krehbiel, found 3 rows
ratios [('https://muckrack.com/lenzy-krehbiel-burton', 86, 93010), ('https://muckrack.com/john-krehbiel', 49, 75204), ('https://muckrack.com/rkrehbiel', 39, 129581)]
highest matching https://muckrack.com/lenzy-krehbiel-burton

processing John Falcone
subset dataframe with falcone, found 20 rows
ratios [('https://muckrack.com/christian-falcone', 86, 29818), ('https://muckrack.com/dana-falcone', 86, 35462), ('https://muckrack.com/john-p-falcone', 86, 75527), ('https://muckrack.com/joseph-falcone', 86, 78075), ('https://muckrack.com/lauren-beckham-falcone', 86, 91451)]
highest matching https://muckrack.com/christian-falcone

processing Oliver JJ Lane
subset dataframe with oliver, found 271 rows
ratios [('https://muckrack.com/amy-oliver-1', 86, 8090), ('https://muckrack.com/andrea-oliver-1', 86, 8894), ('https://muckrack.com/annie-bergeron-oliver', 86, 12185), ('https://muckrack.com/ben-oliver', 86, 16619), ('https://muckrack.com/bernadine-oliver-kerby', 86, 17222)]
highest matching https://muckrack.com/amy-oliver-1

processing Richard Simms
subset dataframe with richard, found 1146 rows
ratios [('https://muckrack.com/barry-richard', 86, 15584), ('https://muckrack.com/brandon-richard', 86, 20227), ('https://muckrack.com/craig-richard', 86, 33643), ('https://muckrack.com/deneysha-richard', 86, 40842), ('https://muckrack.com/don-richard-on', 86, 42828)]
highest matching https://muckrack.com/barry-richard

processing TOM CANAVAN
subset dataframe with canavan, found 2 rows
ratios [('https://muckrack.com/claudia-canavan', 86, 31741), ('https://muckrack.com/steve-canavan', 86, 144412)]
highest matching https://muckrack.com/claudia-canavan

processing TOM WITHERS
subset dataframe with withers, found 26 rows
ratios [('https://muckrack.com/curtis-withers', 86, 34124), ('https://muckrack.com/iain-withers', 86, 60594), ('https://muckrack.com/kate-h-withers', 86, 82806), ('https://muckrack.com/laura-withers', 86, 91269), ('https://muckrack.com/matt-withers', 86, 104704)]
highest matching https://muckrack.com/curtis-withers

processing Alan McEwen
subset dataframe with mcewen, found 11 rows
ratios [('https://muckrack.com/annie-mcewen', 86, 12254), ('https://muckrack.com/bill-mcewen-2', 86, 18292), ('https://muckrack.com/enalanmcewen', 86, 48108), ('https://muckrack.com/julia-mcewen', 86, 79862), ('https://muckrack.com/simon-mcewen', 86, 141333)]
highest matching https://muckrack.com/annie-mcewen

processing John Boyette jboyette@aikenstandard.com

subset dataframe with boyette, found 2 rows
ratios [('https://muckrack.com/chris__boyette', 45, 28209), ('https://muckrack.com/johnboyette', 44, 76051)]
highest matching https://muckrack.com/chris__boyette

processing John M. Mason
subset dataframe with mason, found 172 rows
ratios [('https://muckrack.com/aaron-mason', 86, 432), ('https://muckrack.com/aaron-mason-2', 86, 433), ('https://muckrack.com/adam-mason-3', 86, 1490), ('https://muckrack.com/ali-mason-1', 86, 5319), ('https://muckrack.com/alice-mason-2', 86, 5474)]
highest matching https://muckrack.com/aaron-mason

processing Elliot Hannon
subset dataframe with elliot, found 219 rows
ratios [('https://muckrack.com/claire-elliot', 86, 31317), ('https://muckrack.com/elliot-bentley', 86, 46527), ('https://muckrack.com/elliot-falk', 86, 46528), ('https://muckrack.com/elliot-feinstein', 86, 46529), ('https://muckrack.com/elliot-ferguson', 86, 46530)]
highest matching https://muckrack.com/claire-elliot

processing Greg Robb
subset dataframe with greg, found 995 rows
ratios [('https://muckrack.com/greg-adaline', 86, 56299), ('https://muckrack.com/greg-agvent', 86, 56300), ('https://muckrack.com/greg-akagi-1', 86, 56301), ('https://muckrack.com/greg-allen', 86, 56302), ('https://muckrack.com/greg-alvarado', 86, 56303)]
highest matching https://muckrack.com/greg-adaline

processing Ildefonso Ortiz and Brandon Darby
subset dataframe with ildefonso, found 1 rows
ratios [('https://muckrack.com/ildefonsoortiz', 49, 61198)]
highest matching https://muckrack.com/ildefonsoortiz

processing Helen Sullivan
subset dataframe with sullivan, found 267 rows
ratios [('https://muckrack.com/helen-sullivan-1', 90, 59245), ('https://muckrack.com/adam-sullivan', 86, 1675), ('https://muckrack.com/amy-sullivan-5', 86, 8191), ('https://muckrack.com/andrew-sullivan-3', 86, 9831), ('https://muckrack.com/ann-sullivan-1', 86, 11289)]
highest matching https://muckrack.com/helen-sullivan-1

processing Frank E. Lockwood
subset dataframe with lockwood, found 20 rows
ratios [('https://muckrack.com/frank-lockwood', 86, 52089), ('https://muckrack.com/jim-lockwood', 86, 72038), ('https://muckrack.com/lisa-lockwood', 86, 94906), ('https://muckrack.com/maria-lockwood', 86, 100222), ('https://muckrack.com/matt-lockwood', 86, 104296)]
highest matching https://muckrack.com/frank-lockwood

processing Richard Trenholm
subset dataframe with trenholm, found 1 rows
ratios [('https://muckrack.com/richard-d-trenholm', 86, 128475)]
highest matching https://muckrack.com/richard-d-trenholm

processing Steven Ewing
subset dataframe with steven, found 639 rows
ratios [('https://muckrack.com/daniel-steven-1', 86, 36203), ('https://muckrack.com/rachel-steven', 86, 125584), ('https://muckrack.com/robert-steven-ingebo', 86, 130633), ('https://muckrack.com/steven-a-law', 86, 145163), ('https://muckrack.com/steven-albritton-1', 86, 145164)]
highest matching https://muckrack.com/daniel-steven-1

processing Anna Iovine
subset dataframe with iovine, found 2 rows
ratios [('https://muckrack.com/julie-v-iovine', 86, 80433), ('https://muckrack.com/annaroseiovine', 58, 11824)]
highest matching https://muckrack.com/julie-v-iovine

processing DOUG MACCASH | Staff writer
subset dataframe with maccash, found 1 rows
ratios [('https://muckrack.com/dougmaccash', 52, 43517)]
highest matching https://muckrack.com/dougmaccash

processing Gene Maddaus
subset dataframe with maddaus, found 1 rows
ratios [('https://muckrack.com/genemaddaus', 86, 53939)]
highest matching https://muckrack.com/genemaddaus

processing Tom Whipple, Science Editor
subset dataframe with whipple, found 6 rows
ratios [('https://muckrack.com/janice-whipple', 51, 65701), ('https://muckrack.com/scott-whipple', 49, 138090), ('https://muckrack.com/george-whipple', 48, 183753), ('https://muckrack.com/george-whipple-1', 47, 54381), ('https://muckrack.com/chris-whipple', 46, 172388)]
highest matching https://muckrack.com/janice-whipple

processing Colm O’Connor
subset dataframe with o’connor, found 0 rows
no matches

processing Sinéad Baker
subset dataframe with sinéad, found 0 rows
no matches

processing Peter Ryan
subset dataframe with peter, found 1412 rows
ratios [('https://muckrack.com/peter-ryan-3', 90, 123131), ('https://muckrack.com/andreas-peter-weber', 86, 9033), ('https://muckrack.com/chris-st-peter', 86, 29351), ('https://muckrack.com/dawn-peter', 86, 39884), ('https://muckrack.com/gregor-peter-schmitz', 86, 56746)]
highest matching https://muckrack.com/peter-ryan-3

processing Zoe Wood
subset dataframe with wood, found 900 rows
ratios [('https://muckrack.com/aaron-wood-1', 86, 541), ('https://muckrack.com/aaron-wood-3', 86, 542), ('https://muckrack.com/aleksandra-wood', 86, 3704), ('https://muckrack.com/alex-wood-1', 86, 4477), ('https://muckrack.com/alex-wood-3', 86, 4478)]
highest matching https://muckrack.com/aaron-wood-1

processing D.M. Martins Research
subset dataframe with martins, found 29 rows
ratios [('https://muckrack.com/alejandra-martins', 86, 3635), ('https://muckrack.com/andrew-martins', 86, 9593), ('https://muckrack.com/cid-martins', 86, 31034), ('https://muckrack.com/elisa-martins', 86, 45641), ('https://muckrack.com/filomena-martins', 86, 51195)]
highest matching https://muckrack.com/alejandra-martins

processing Lauren M. Johnson, CNN
subset dataframe with johnson, found 726 rows
ratios [('https://muckrack.com/adrienne-johnson-1', 86, 2219), ('https://muckrack.com/aleda-johnson', 86, 3611), ('https://muckrack.com/alex-johnson-4', 86, 4112), ('https://muckrack.com/alice-johnson-5', 86, 5454), ('https://muckrack.com/allen-johnson-4', 86, 6177)]
highest matching https://muckrack.com/adrienne-johnson-1

processing William A. Haseltine
subset dataframe with haseltine, found 1 rows
ratios [('https://muckrack.com/william-haseltine', 86, 230697)]
highest matching https://muckrack.com/william-haseltine

processing Lucy White
subset dataframe with white, found 468 rows
ratios [('https://muckrack.com/lucy-white-1', 90, 97050), ('https://muckrack.com/lucy-white-3', 90, 97051), ('https://muckrack.com/abbey-white', 86, 652), ('https://muckrack.com/abby-white-3', 86, 748), ('https://muckrack.com/adam-white-12', 86, 1714)]
highest matching https://muckrack.com/lucy-white-1

processing MICHAEL MAROT
subset dataframe with michael, found 2389 rows
ratios [('https://muckrack.com/michael-marotta', 90, 108816), ('https://muckrack.com/aaron-michael-1', 86, 439), ('https://muckrack.com/adam-michael', 86, 1501), ('https://muckrack.com/akrit-michael', 86, 2870), ('https://muckrack.com/alex-michael', 86, 4219)]
highest matching https://muckrack.com/michael-marotta

processing Lisa Rand
subset dataframe with lisa, found 1135 rows
ratios [('https://muckrack.com/andrew-lisa', 86, 9561), ('https://muckrack.com/anna-lisa-blank', 86, 11506), ('https://muckrack.com/anna-lisa-death', 86, 11507), ('https://muckrack.com/anna-lisa-laca', 86, 11508), ('https://muckrack.com/anna-lisa-yabsley', 86, 11509)]
highest matching https://muckrack.com/andrew-lisa

processing Stu Pospisil World-Herald staff writer
subset dataframe with pospisil, found 0 rows
no matches

processing Dave Ress
subset dataframe with dave, found 1010 rows
ratios [('https://muckrack.com/austin-dave', 86, 14728), ('https://muckrack.com/big-dave', 86, 17971), ('https://muckrack.com/carmichael-dave', 86, 24636), ('https://muckrack.com/dave-abel', 86, 37335), ('https://muckrack.com/dave-adams-1', 86, 37336)]
highest matching https://muckrack.com/austin-dave

processing Michael Foley
subset dataframe with michael, found 2389 rows
ratios [('https://muckrack.com/aaron-michael-1', 86, 439), ('https://muckrack.com/adam-michael', 86, 1501), ('https://muckrack.com/akrit-michael', 86, 2870), ('https://muckrack.com/alex-michael', 86, 4219), ('https://muckrack.com/andrew-buck-michael', 86, 9212)]
highest matching https://muckrack.com/aaron-michael-1

processing Mark Sweney
subset dataframe with sweney, found 1 rows
ratios [('https://muckrack.com/marksweney', 82, 102326)]
highest matching https://muckrack.com/marksweney

processing C. SUAREZ ROJAS Richmond Times-Dispatch
subset dataframe with suarez, found 32 rows
ratios [('https://muckrack.com/natalie-suarez', 48, 210988), ('https://muckrack.com/cesar-suarez', 47, 26566), ('https://muckrack.com/chris-suarez', 47, 29373), ('https://muckrack.com/marcos-suarez', 47, 99654), ('https://muckrack.com/monica-suarez', 47, 112704)]
highest matching https://muckrack.com/natalie-suarez

processing David Wahlberg | Wisconsin State Journal

subset dataframe with wahlberg, found 2 rows
ratios [('https://muckrack.com/davidkwahlberg', 43, 39699), ('https://muckrack.com/rebekah-wahlberg', 39, 127416)]
highest matching https://muckrack.com/davidkwahlberg

processing Aoife O’Brien
subset dataframe with o’brien, found 0 rows
no matches

processing Paul O’Donoghue
subset dataframe with o’donoghue, found 0 rows
no matches

processing Coleen Nolan
subset dataframe with coleen, found 8 rows
ratios [('https://muckrack.com/coleen-christie', 86, 32332), ('https://muckrack.com/coleen-harry', 86, 32333), ('https://muckrack.com/coleen-mast', 86, 32334), ('https://muckrack.com/coleen-olear', 86, 32335), ('https://muckrack.com/coleen-quinn', 86, 32336)]
highest matching https://muckrack.com/coleen-christie

processing Peter O’Reilly
subset dataframe with o’reilly, found 0 rows
no matches

processing Martin Belam
subset dataframe with martin, found 1292 rows
ratios [('https://muckrack.com/aaron-martin-2', 86, 428), ('https://muckrack.com/aaron-martin-7', 86, 429), ('https://muckrack.com/adam-martin-3', 86, 1487), ('https://muckrack.com/adam-martin-robbins', 86, 1488), ('https://muckrack.com/agustin-martin', 86, 2404)]
highest matching https://muckrack.com/aaron-martin-2

processing Steve Holland
subset dataframe with holland, found 116 rows
ratios [('https://muckrack.com/alana-holland', 86, 3281), ('https://muckrack.com/angie-holland', 86, 10876), ('https://muckrack.com/angus-holland', 86, 10924), ('https://muckrack.com/ashleigh-holland', 86, 13926), ('https://muckrack.com/ben-holland', 86, 16441)]
highest matching https://muckrack.com/alana-holland

processing Patti Domm
subset dataframe with patti, found 74 rows
ratios [('https://muckrack.com/gabriella-patti', 86, 52871), ('https://muckrack.com/joe-patti-1', 86, 73733), ('https://muckrack.com/john-patti-1', 86, 75549), ('https://muckrack.com/patti-arnold-1', 86, 120828), ('https://muckrack.com/patti-carroll', 86, 120829)]
highest matching https://muckrack.com/gabriella-patti

processing Mark Hulbert
subset dataframe with hulbert, found 4 rows
ratios [('https://muckrack.com/ann-hulbert', 86, 11218), ('https://muckrack.com/hunter-hulbert', 86, 60472), ('https://muckrack.com/joe-hulbert', 86, 73563), ('https://muckrack.com/mktwhulbert', 71, 112177)]
highest matching https://muckrack.com/ann-hulbert

processing Rachael Pacella
subset dataframe with rachael, found 114 rows
ratios [('https://muckrack.com/rachaelpacella', 87, 125139), ('https://muckrack.com/rachael-akidi-77543', 86, 125061), ('https://muckrack.com/rachael-anderson', 86, 125062), ('https://muckrack.com/rachael-bale', 86, 125063), ('https://muckrack.com/rachael-beairsto', 86, 125064)]
highest matching https://muckrack.com/rachaelpacella

processing Christopher Keating
subset dataframe with christopher, found 461 rows
ratios [('https://muckrack.com/christopher-alessi', 86, 30496), ('https://muckrack.com/christopher-amundson', 86, 30497), ('https://muckrack.com/christopher-arnott', 86, 30498), ('https://muckrack.com/christopher-attard-1', 86, 30499), ('https://muckrack.com/christopher-bagley', 86, 30500)]
highest matching https://muckrack.com/christopher-alessi

processing Katharine Murphy
subset dataframe with katharine, found 38 rows
ratios [('https://muckrack.com/katharine-bailey', 86, 83235), ('https://muckrack.com/katharine-bavoso', 86, 83236), ('https://muckrack.com/katharine-bennett', 86, 83237), ('https://muckrack.com/katharine-biele', 86, 83238), ('https://muckrack.com/katharine-byrne', 86, 83239)]
highest matching https://muckrack.com/katharine-bailey

processing Kaunain Sheriff M
subset dataframe with kaunain, found 1 rows
ratios [('https://muckrack.com/kaunain-sheriff', 86, 84616)]
highest matching https://muckrack.com/kaunain-sheriff

processing Will Pavia, New York
subset dataframe with pavia, found 7 rows
ratios [('https://muckrack.com/carlos-de-pavia', 86, 24359), ('https://muckrack.com/joe-pavia', 86, 73734), ('https://muckrack.com/lucy-pavia', 86, 97002), ('https://muckrack.com/diane-pavia-1', 86, 178045), ('https://muckrack.com/pavia-rosati-1', 86, 214370)]
highest matching https://muckrack.com/carlos-de-pavia

processing Josh Halliday
subset dataframe with halliday, found 11 rows
ratios [('https://muckrack.com/chris-halliday', 86, 28711), ('https://muckrack.com/fergus-halliday', 86, 51034), ('https://muckrack.com/joshhalliday', 86, 78668), ('https://muckrack.com/sandra-halliday', 86, 135459), ('https://muckrack.com/sarah-halliday', 86, 136427)]
highest matching https://muckrack.com/chris-halliday

processing De Elizabeth
subset dataframe with elizabeth, found 598 rows
ratios [('https://muckrack.com/jade-elizabeth-morris', 90, 187954), ('https://muckrack.com/amy-elizabeth-1', 86, 7899), ('https://muckrack.com/chinyere-elizabeth-okoroafor', 86, 28016), ('https://muckrack.com/elaine-elizabeth-thomas', 86, 45217), ('https://muckrack.com/elizabeth-ammon', 86, 45837)]
highest matching https://muckrack.com/jade-elizabeth-morris

processing Julia Kollewe
subset dataframe with kollewe, found 1 rows
ratios [('https://muckrack.com/juliakollewe', 86, 79991)]
highest matching https://muckrack.com/juliakollewe

processing JOHN REID BLACKWELL Richmond Times-Dispatch
subset dataframe with blackwell, found 24 rows
ratios [('https://muckrack.com/john-blackwell', 57, 74550), ('https://muckrack.com/cristina-blackwell', 48, 33809), ('https://muckrack.com/eoin-blackwell', 48, 48188), ('https://muckrack.com/jed-blackwell', 48, 67586), ('https://muckrack.com/jordan-blackwell', 48, 77462)]
highest matching https://muckrack.com/john-blackwell

processing Graeme Wearden
subset dataframe with wearden, found 2 rows
ratios [('https://muckrack.com/delaney-wearden', 86, 40734), ('https://muckrack.com/graemewearden', 86, 56030)]
highest matching https://muckrack.com/delaney-wearden

processing Cormac O’Keeffe
subset dataframe with o’keeffe, found 0 rows
no matches

processing D. H. Taylor
subset dataframe with taylor, found 757 rows
ratios [('https://muckrack.com/aaron-taylor-2', 86, 522), ('https://muckrack.com/abbey-taylor', 86, 651), ('https://muckrack.com/adam-taylor', 86, 1680), ('https://muckrack.com/adam-taylor-on', 86, 1681), ('https://muckrack.com/alan-taylor', 86, 3233)]
highest matching https://muckrack.com/aaron-taylor-2

processing Latika Bourke
subset dataframe with latika, found 1 rows
ratios [('https://muckrack.com/latikambourke', 83, 90587)]
highest matching https://muckrack.com/latikambourke

processing AARON BEARD
subset dataframe with aaron, found 470 rows
ratios [('https://muckrack.com/-aaron-davis', 86, 120), ('https://muckrack.com/aaron-abeytia', 86, 293), ('https://muckrack.com/aaron-aupperlee', 86, 294), ('https://muckrack.com/aaron-baar', 86, 295), ('https://muckrack.com/aaron-bady', 86, 296)]
highest matching https://muckrack.com/-aaron-davis

processing Chris Churchill
subset dataframe with churchill, found 13 rows
ratios [('https://muckrack.com/david-churchill', 86, 38251), ('https://muckrack.com/francis-churchill', 86, 51864), ('https://muckrack.com/lisa-churchill-1', 86, 94722), ('https://muckrack.com/penny-churchill', 86, 122305), ('https://muckrack.com/bonnie-churchill', 86, 168023)]
highest matching https://muckrack.com/david-churchill

processing Charles Bremner, Paris
subset dataframe with charles, found 400 rows
ratios [('https://muckrack.com/andy-charles', 86, 10104), ('https://muckrack.com/anthony-charles', 86, 12456), ('https://muckrack.com/caitlan-charles', 86, 23197), ('https://muckrack.com/charles-adler', 86, 26916), ('https://muckrack.com/charles-ainsworth-collins', 86, 26917)]
highest matching https://muckrack.com/andy-charles

processing Swati Pandey
subset dataframe with pandey, found 24 rows
ratios [('https://muckrack.com/alok-pandey', 86, 6569), ('https://muckrack.com/ashutosh-pandey-1', 86, 14354), ('https://muckrack.com/erica-pandey', 86, 48860), ('https://muckrack.com/geeta-pandey', 86, 53782), ('https://muckrack.com/kundan-pandey', 86, 89440)]
highest matching https://muckrack.com/alok-pandey

processing Stephen Brook, Samantha Hutchinson
subset dataframe with stephen, found 785 rows
ratios [('https://muckrack.com/samantha-stephenson', 59, 135016), ('https://muckrack.com/brook-stephens', 58, 22197), ('https://muckrack.com/stephen-brooks-1', 56, 143864), ('https://muckrack.com/stephen-hutcheon', 56, 143997), ('https://muckrack.com/stephen-borowy', 55, 143857)]
highest matching https://muckrack.com/samantha-stephenson

processing KATE BRUMBACK

subset dataframe with brumback, found 2 rows
ratios [('https://muckrack.com/aly-brumback', 86, 6663), ('https://muckrack.com/katebrumback', 83, 83101)]
highest matching https://muckrack.com/aly-brumback

processing Michael S. Derby
subset dataframe with michael, found 2389 rows
ratios [('https://muckrack.com/aaron-michael-1', 86, 439), ('https://muckrack.com/adam-michael', 86, 1501), ('https://muckrack.com/akrit-michael', 86, 2870), ('https://muckrack.com/alex-michael', 86, 4219), ('https://muckrack.com/andrew-buck-michael', 86, 9212)]
highest matching https://muckrack.com/aaron-michael-1

processing Lisa J. Huriash
subset dataframe with huriash, found 1 rows
ratios [('https://muckrack.com/lisa-huriash', 86, 94850)]
highest matching https://muckrack.com/lisa-huriash

processing Ted Thornhill
subset dataframe with thornhill, found 10 rows
ratios [('https://muckrack.com/bill-thornhill', 86, 18457), ('https://muckrack.com/emily-thornhill', 86, 47426), ('https://muckrack.com/james-thornhill', 86, 64522), ('https://muckrack.com/jo-thornhill', 86, 72753), ('https://muckrack.com/john-thornhill', 86, 75871)]
highest matching https://muckrack.com/bill-thornhill

processing Michelle Grattan
subset dataframe with michelle, found 594 rows
ratios [('https://muckrack.com/michellegrattan', 87, 109963), ('https://muckrack.com/ariana-michelle-igneri', 86, 13267), ('https://muckrack.com/catherine-michelle', 86, 25942), ('https://muckrack.com/catherine-michelle-1', 86, 25943), ('https://muckrack.com/courtney-michelle-johnson', 86, 33369)]
highest matching https://muckrack.com/michellegrattan

processing Douglas Busvine
subset dataframe with douglas, found 219 rows
ratios [('https://muckrack.com/andrew-douglas-4', 86, 9313), ('https://muckrack.com/andrew-douglas-9', 86, 9314), ('https://muckrack.com/angela-douglas-3', 86, 10602), ('https://muckrack.com/ashtyn-douglas', 86, 14351), ('https://muckrack.com/bill-douglas', 86, 18150)]
highest matching https://muckrack.com/andrew-douglas-4

processing Graeme Lennox
subset dataframe with graeme, found 54 rows
ratios [('https://muckrack.com/graeme-bailey', 86, 55994), ('https://muckrack.com/graeme-bruce', 86, 55995), ('https://muckrack.com/graeme-c-gordon', 86, 55996), ('https://muckrack.com/graeme-campbell', 86, 55997), ('https://muckrack.com/graeme-cheevers', 86, 55998)]
highest matching https://muckrack.com/graeme-bailey

processing Naseem S. Miller
subset dataframe with naseem, found 4 rows
ratios [('https://muckrack.com/sumaiyya-naseem', 86, 146009), ('https://muckrack.com/waqar-naseem-wamiq', 86, 230211), ('https://muckrack.com/naseemmiller', 68, 114163), ('https://muckrack.com/naseema-gangat-1', 47, 114162)]
highest matching https://muckrack.com/sumaiyya-naseem

processing Denise O’Donoghue
subset dataframe with o’donoghue, found 0 rows
no matches

processing Eric Zorn
subset dataframe with eric, found 1502 rows
ratios [('https://muckrack.com/charles-eric-blais-poulin', 86, 26973), ('https://muckrack.com/eric', 86, 48246), ('https://muckrack.com/eric-a-kovac', 86, 48256), ('https://muckrack.com/eric-a-krol', 86, 48257), ('https://muckrack.com/eric-a-riddle', 86, 48258)]
highest matching https://muckrack.com/charles-eric-blais-poulin

processing Kevin C. Johnson
subset dataframe with johnson, found 726 rows
ratios [('https://muckrack.com/adrienne-johnson-1', 86, 2219), ('https://muckrack.com/al-johnson', 86, 2933), ('https://muckrack.com/aleda-johnson', 86, 3611), ('https://muckrack.com/alex-johnson-4', 86, 4112), ('https://muckrack.com/alice-johnson-5', 86, 5454)]
highest matching https://muckrack.com/adrienne-johnson-1

processing MIKE CORDER
subset dataframe with corder, found 20 rows
ratios [('https://muckrack.com/jillian-corder', 86, 71677), ('https://muckrack.com/josh-corder', 86, 78339), ('https://muckrack.com/rob-corder', 86, 129708), ('https://muckrack.com/mikecorder', 82, 111313), ('https://muckrack.com/christiane-cordero', 74, 29936)]
highest matching https://muckrack.com/jillian-corder

processing Scott Girard | The Capital Times
subset dataframe with girard, found 25 rows
ratios [('https://muckrack.com/scott-l-girard', 54, 137794), ('https://muckrack.com/matthew-girard', 51, 206623), ('https://muckrack.com/keith-girard', 49, 85080), ('https://muckrack.com/chelsea-girard', 48, 27648), ('https://muckrack.com/jeff-girard', 48, 190069)]
highest matching https://muckrack.com/scott-l-girard

processing Amanda Fries
subset dataframe with amanda, found 648 rows
ratios [('https://muckrack.com/amanda-abrams', 86, 6900), ('https://muckrack.com/amanda-adame', 86, 6901), ('https://muckrack.com/amanda-agee', 86, 6902), ('https://muckrack.com/amanda-aguilar', 86, 6903), ('https://muckrack.com/amanda-akass', 86, 6904)]
highest matching https://muckrack.com/amanda-abrams

processing Kenneth R. Gosselin
subset dataframe with gosselin, found 5 rows
ratios [('https://muckrack.com/janie-gosselin', 86, 189102), ('https://muckrack.com/john-gosselin', 86, 193331), ('https://muckrack.com/peter-gosselin', 86, 214815), ('https://muckrack.com/rick-gosselin', 86, 217755), ('https://muckrack.com/kennethgosselin', 71, 86221)]
highest matching https://muckrack.com/janie-gosselin

processing Andrew Sparrow
subset dataframe with sparrow, found 9 rows
ratios [('https://muckrack.com/andrewsparrow', 86, 10003), ('https://muckrack.com/jeff-sparrow', 86, 68142), ('https://muckrack.com/kate-sparrow', 86, 83028), ('https://muckrack.com/norbert-sparrow', 86, 118180), ('https://muckrack.com/rebecca-sparrow', 86, 127293)]
highest matching https://muckrack.com/andrewsparrow

processing JOE REEDY
subset dataframe with reedy, found 11 rows
ratios [('https://muckrack.com/allyson-reedy', 86, 6533), ('https://muckrack.com/christianna-reedy', 86, 29945), ('https://muckrack.com/sarah-reedy', 86, 136761), ('https://muckrack.com/r-scott-reedy', 86, 215851), ('https://muckrack.com/joereedy', 80, 74227)]
highest matching https://muckrack.com/allyson-reedy

processing Bradford William Davis
subset dataframe with bradford, found 50 rows
ratios [('https://muckrack.com/alexandra-bradford', 86, 4682), ('https://muckrack.com/alina-bradford', 86, 5689), ('https://muckrack.com/bradford-betz', 86, 19946), ('https://muckrack.com/bradford-doolittle', 86, 19947), ('https://muckrack.com/bradford-frischkorn', 86, 19948)]
highest matching https://muckrack.com/alexandra-bradford

processing Patrick Doyle
subset dataframe with patrick, found 750 rows
ratios [('https://muckrack.com/alvin-patrick', 86, 6649), ('https://muckrack.com/brian-patrick-odonoghue', 86, 21374), ('https://muckrack.com/cary-patrick-martin', 86, 25420), ('https://muckrack.com/cindy-patrick', 86, 31117), ('https://muckrack.com/craig-patrick', 86, 33630)]
highest matching https://muckrack.com/alvin-patrick

processing Andrea Torres
subset dataframe with andrea, found 551 rows
ratios [('https://muckrack.com/andrea-acosta', 86, 8706), ('https://muckrack.com/andrea-adelson', 86, 8707), ('https://muckrack.com/andrea-aguilar-1', 86, 8708), ('https://muckrack.com/andrea-aguirre', 86, 8709), ('https://muckrack.com/andrea-albers', 86, 8710)]
highest matching https://muckrack.com/andrea-acosta

processing Canela López
subset dataframe with canela, found 2 rows
ratios [('https://muckrack.com/luis-canela', 86, 97128), ('https://muckrack.com/vcanelalopez', 82, 155126)]
highest matching https://muckrack.com/luis-canela

processing Eric E. Harrison
subset dataframe with harrison, found 183 rows
ratios [('https://muckrack.com/akemi-harrison', 86, 2828), ('https://muckrack.com/alex-harrison-4', 86, 4064), ('https://muckrack.com/ali-harrison', 86, 5294), ('https://muckrack.com/andrew-harrison-3', 86, 9424), ('https://muckrack.com/andrew-harrison-8', 86, 9425)]
highest matching https://muckrack.com/akemi-harrison

processing Wayne K. Roustan
subset dataframe with roustan, found 1 rows
ratios [('https://muckrack.com/wayne-roustan', 86, 156711)]
highest matching https://muckrack.com/wayne-roustan

processing Emma Farge
subset dataframe with farge, found 3 rows
ratios [('https://muckrack.com/bridget-fargen', 63, 21756), ('https://muckrack.com/henri-pierre-fargeon', 63, 59428), ('https://muckrack.com/reutersfarge', 54, 127936)]
highest matching https://muckrack.com/bridget-fargen

processing GREGORY J. GILLIGAN  Richmond Times-Dispatch

subset dataframe with gilligan, found 9 rows
ratios [('https://muckrack.com/gilligan', 86, 55050), ('https://muckrack.com/greg-gilligan', 48, 56407), ('https://muckrack.com/andrew-gilligan', 45, 9390), ('https://muckrack.com/heather-gilligan', 45, 58735), ('https://muckrack.com/keith-gilligan', 43, 85079)]
highest matching https://muckrack.com/gilligan

processing James T. Norman
subset dataframe with norman, found 95 rows
ratios [('https://muckrack.com/alix-norman', 86, 6060), ('https://muckrack.com/art-norman', 86, 13642), ('https://muckrack.com/avital-norman-nathman', 86, 14887), ('https://muckrack.com/becky-norman-1', 86, 15985), ('https://muckrack.com/bob-norman', 86, 19228)]
highest matching https://muckrack.com/alix-norman

processing LARRY LAGE
subset dataframe with larry, found 285 rows
ratios [('https://muckrack.com/funky-larry-jones', 86, 52611), ('https://muckrack.com/greg-larry-1', 86, 56472), ('https://muckrack.com/larry-aldridge', 86, 90348), ('https://muckrack.com/larry-alton', 86, 90349), ('https://muckrack.com/larry-anderson-6', 86, 90350)]
highest matching https://muckrack.com/funky-larry-jones

processing BILL BARROW
subset dataframe with barrow, found 22 rows
ratios [('https://muckrack.com/becky-barrow', 86, 15943), ('https://muckrack.com/delece-smith-barrow', 86, 40742), ('https://muckrack.com/genoa-barrow', 86, 54008), ('https://muckrack.com/george-barrow', 86, 54178), ('https://muckrack.com/georgia-barrow', 86, 54434)]
highest matching https://muckrack.com/becky-barrow

processing Robert Miller
subset dataframe with robert, found 1455 rows
ratios [('https://muckrack.com/robert-miller-1', 90, 130518), ('https://muckrack.com/alain-jean-robert', 86, 3004), ('https://muckrack.com/aline-robert', 86, 5711), ('https://muckrack.com/amanda-robert-2', 86, 7201), ('https://muckrack.com/bogdan-robert-mates', 86, 19513)]
highest matching https://muckrack.com/robert-miller-1

processing MARC LEVY
subset dataframe with marc, found 1124 rows
ratios [('https://muckrack.com/jean-marc-salvet', 86, 67391), ('https://muckrack.com/jean-marc-sylvestre', 86, 67392), ('https://muckrack.com/jean-marc-tanguy', 86, 67393), ('https://muckrack.com/jean-marc-vittori', 86, 67394), ('https://muckrack.com/jean-saint-marc', 86, 67439)]
highest matching https://muckrack.com/jean-marc-salvet

processing DAVID J. MITCHELL | Staff writer
subset dataframe with mitchell, found 302 rows
ratios [('https://muckrack.com/veronica-mitchell-writer', 65, 229581), ('https://muckrack.com/david-mitchell', 62, 176649), ('https://muckrack.com/david-mitchell-smith', 62, 176650), ('https://muckrack.com/mitchell-white', 52, 112080), ('https://muckrack.com/wynter-mitchell', 51, 230922)]
highest matching https://muckrack.com/veronica-mitchell-writer

processing Justin Fenton
subset dataframe with justin, found 556 rows
ratios [('https://muckrack.com/justin-a-cohn', 86, 80706), ('https://muckrack.com/justin-a-hinkley', 86, 80707), ('https://muckrack.com/justin-acri', 86, 80708), ('https://muckrack.com/justin-amador', 86, 80709), ('https://muckrack.com/justin-andress', 86, 80710)]
highest matching https://muckrack.com/justin-a-cohn

processing TOH WEN LI
subset dataframe with toh, found 20 rows
ratios [('https://muckrack.com/michelle-toh', 86, 109919), ('https://muckrack.com/toh-lye-huat', 86, 151562), ('https://muckrack.com/toh-ting-wei', 86, 151563), ('https://muckrack.com/jaimelynne-toh', 86, 188034), ('https://muckrack.com/tohid-ismail', 45, 151564)]
highest matching https://muckrack.com/michelle-toh

processing Charles Passy
subset dataframe with charles, found 400 rows
ratios [('https://muckrack.com/andy-charles', 86, 10104), ('https://muckrack.com/ann-charles', 86, 11186), ('https://muckrack.com/anthony-charles', 86, 12456), ('https://muckrack.com/caitlan-charles', 86, 23197), ('https://muckrack.com/charles-adler', 86, 26916)]
highest matching https://muckrack.com/andy-charles

processing SUSAN MONTOYA BRYAN
subset dataframe with montoya, found 22 rows
ratios [('https://muckrack.com/alison-montoya', 86, 5886), ('https://muckrack.com/angeline-montoya-1', 86, 10810), ('https://muckrack.com/camilo-montoya-galvez', 86, 23794), ('https://muckrack.com/christina-montoya-fiedler', 86, 30113), ('https://muckrack.com/christophe-montoya', 86, 30488)]
highest matching https://muckrack.com/alison-montoya

processing ColGordon / American-Statesman Correspondent
subset dataframe with colgordon, found 0 rows
no matches

processing Caroline Mimbs Nyce
subset dataframe with caroline, found 366 rows
ratios [('https://muckrack.com/caroline-abbott', 86, 24856), ('https://muckrack.com/caroline-aghajanian', 86, 24857), ('https://muckrack.com/caroline-alexander', 86, 24858), ('https://muckrack.com/caroline-alkire', 86, 24859), ('https://muckrack.com/caroline-allen-2', 86, 24860)]
highest matching https://muckrack.com/caroline-abbott

processing Phil Plait
subset dataframe with plait, found 0 rows
no matches

processing Richard Nieva
subset dataframe with richard, found 1146 rows
ratios [('https://muckrack.com/barry-richard', 86, 15584), ('https://muckrack.com/brandon-richard', 86, 20227), ('https://muckrack.com/craig-richard', 86, 33643), ('https://muckrack.com/deneysha-richard', 86, 40842), ('https://muckrack.com/don-richard-on', 86, 42828)]
highest matching https://muckrack.com/barry-richard

processing Lorraine Mirabella
subset dataframe with mirabella, found 4 rows
ratios [('https://muckrack.com/alan-mirabella', 86, 3166), ('https://muckrack.com/fran-mirabella', 86, 51657), ('https://muckrack.com/pamela-mirabella', 86, 119830), ('https://muckrack.com/lmirabella', 55, 95791)]
highest matching https://muckrack.com/alan-mirabella

processing Noel Randewich
subset dataframe with randewich, found 1 rows
ratios [('https://muckrack.com/randewich', 86, 126280)]
highest matching https://muckrack.com/randewich

processing Fergus Hunter
subset dataframe with fergus, found 136 rows
ratios [('https://muckrack.com/fergus-bisset', 86, 51032), ('https://muckrack.com/fergus-collins', 86, 51033), ('https://muckrack.com/fergus-halliday', 86, 51034), ('https://muckrack.com/fergus-hewison', 86, 51035), ('https://muckrack.com/fergus-jensen', 86, 51036)]
highest matching https://muckrack.com/fergus-bisset

processing Paul Newman
subset dataframe with newman, found 110 rows
ratios [('https://muckrack.com/paul-newman-2', 90, 121476), ('https://muckrack.com/paul-newman-7', 90, 214103), ('https://muckrack.com/alex-newman', 86, 4252), ('https://muckrack.com/alex-newman-6', 86, 4253), ('https://muckrack.com/alex-newman-9', 86, 4254)]
highest matching https://muckrack.com/paul-newman-2

processing Thomas Macaulay
subset dataframe with macaulay, found 6 rows
ratios [('https://muckrack.com/clarence-macaulay', 86, 31659), ('https://muckrack.com/colin-macaulay', 86, 32444), ('https://muckrack.com/scott-macaulay', 86, 137825), ('https://muckrack.com/tom-b-macaulay', 86, 151613), ('https://muckrack.com/bola-macaulay', 86, 167996)]
highest matching https://muckrack.com/clarence-macaulay

processing Hamburger Abendblatt - Hamburg
subset dataframe with abendblatt, found 0 rows
no matches

processing Laura Harding
subset dataframe with harding, found 60 rows
ratios [('https://muckrack.com/adam-harding', 86, 1368), ('https://muckrack.com/amanda-harding', 86, 7036), ('https://muckrack.com/anne-harding', 86, 11926), ('https://muckrack.com/ashley-harding', 86, 14066), ('https://muckrack.com/charlotte-harding', 86, 27375)]
highest matching https://muckrack.com/adam-harding

processing Helen Pidd
subset dataframe with helen, found 363 rows
ratios [('https://muckrack.com/fan-helen-casey-zhang', 86, 50614), ('https://muckrack.com/helen-ainsley', 86, 59103), ('https://muckrack.com/helen-albert', 86, 59104), ('https://muckrack.com/helen-ann-smith', 86, 59105), ('https://muckrack.com/helen-ashcroft', 86, 59106)]
highest matching https://muckrack.com/fan-helen-casey-zhang

processing PAUL NEWBERRY
subset dataframe with newberry, found 10 rows
ratios [('https://muckrack.com/bryce-newberry', 86, 22751), ('https://muckrack.com/elizabeth-harding-newberry', 86, 45962), ('https://muckrack.com/laura-newberry', 86, 91062), ('https://muckrack.com/niall-newberry', 86, 115780), ('https://muckrack.com/rosie-newberry', 86, 132270)]
highest matching https://muckrack.com/bryce-newberry

processing Fraser N Wilson

subset dataframe with fraser, found 98 rows
ratios [('https://muckrack.com/adriana-fraser', 86, 2128), ('https://muckrack.com/alasdair-fraser', 86, 3382), ('https://muckrack.com/alex-fraser', 86, 4013), ('https://muckrack.com/andy-fraser-1', 86, 10150), ('https://muckrack.com/bruce-fraser', 86, 22382)]
highest matching https://muckrack.com/adriana-fraser

processing Alex Hern
subset dataframe with alex, found 2155 rows
ratios [('https://muckrack.com/alex-hernandez', 90, 4074), ('https://muckrack.com/alex-hernandez-1', 90, 4075), ('https://muckrack.com/alex-hernandez-5', 90, 4076), ('https://muckrack.com/lysalex-hernandez-a', 90, 97871), ('https://muckrack.com/alex', 86, 3790)]
highest matching https://muckrack.com/alex-hernandez

processing Jonnelle Marte
subset dataframe with jonnelle, found 3 rows
ratios [('https://muckrack.com/jonnelle', 86, 77348), ('https://muckrack.com/jonnelle-davis', 86, 194382), ('https://muckrack.com/jonnelledge', 65, 77349)]
highest matching https://muckrack.com/jonnelle

processing Jeff Prestridge
subset dataframe with prestridge, found 2 rows
ratios [('https://muckrack.com/jeffprestridge', 87, 68296), ('https://muckrack.com/james-prestridge-1', 86, 188504)]
highest matching https://muckrack.com/jeffprestridge

processing Victoria Bekiempis
subset dataframe with bekiempis, found 1 rows
ratios [('https://muckrack.com/vicbekiempis', 60, 229616)]
highest matching https://muckrack.com/vicbekiempis

processing David Shelton Special to The Post and Courier
subset dataframe with shelton, found 23 rows
ratios [('https://muckrack.com/david-shelton-3', 55, 176833), ('https://muckrack.com/terah-shelton-harris', 49, 226468), ('https://muckrack.com/eric-shelton-1', 48, 48673), ('https://muckrack.com/debra-hale-shelton', 47, 40499), ('https://muckrack.com/shelton-dodson', 47, 140466)]
highest matching https://muckrack.com/david-shelton-3

processing Saheli Roy Choudhury
subset dataframe with choudhury, found 13 rows
ratios [('https://muckrack.com/ambereen-choudhury', 86, 7472), ('https://muckrack.com/deepsekhar-choudhury', 86, 40650), ('https://muckrack.com/gaurav-choudhury', 86, 53579), ('https://muckrack.com/karan-choudhury', 86, 81722), ('https://muckrack.com/moumita-choudhury', 86, 113061)]
highest matching https://muckrack.com/ambereen-choudhury

processing Surajeet Das Gupta
subset dataframe with surajeet, found 1 rows
ratios [('https://muckrack.com/surajeet-gupta', 86, 146144)]
highest matching https://muckrack.com/surajeet-gupta

processing STEVE KARNOWSKI
subset dataframe with karnowski, found 1 rows
ratios [('https://muckrack.com/skarnowski', 60, 141736)]
highest matching https://muckrack.com/skarnowski

processing STEPHEN WHYNO
subset dataframe with stephen, found 785 rows
ratios [('https://muckrack.com/adam-stephen', 86, 1667), ('https://muckrack.com/anne-marie-stephen', 86, 11990), ('https://muckrack.com/bijan-stephen', 86, 17995), ('https://muckrack.com/chris-stephen', 86, 29356), ('https://muckrack.com/cindy-stephen', 86, 31136)]
highest matching https://muckrack.com/adam-stephen

processing Jamie Jackson
subset dataframe with jackson, found 408 rows
ratios [('https://muckrack.com/aaron-jackson-4', 86, 395), ('https://muckrack.com/abby-jackson-1', 86, 708), ('https://muckrack.com/abi-jackson', 86, 920), ('https://muckrack.com/adam-jackson', 86, 1410), ('https://muckrack.com/adam-jackson-8', 86, 1411)]
highest matching https://muckrack.com/aaron-jackson-4

processing KRISTIE RIEKEN
subset dataframe with kristie, found 29 rows
ratios [('https://muckrack.com/james-kristie', 86, 64199), ('https://muckrack.com/kristie-ackert', 86, 88960), ('https://muckrack.com/kristie-batten', 86, 88961), ('https://muckrack.com/kristie-bertucci', 86, 88962), ('https://muckrack.com/kristie-cattafi', 86, 88963)]
highest matching https://muckrack.com/james-kristie

processing TAN TAM MEI
subset dataframe with tan, found 1742 rows
ratios [('https://muckrack.com/aaron-tan', 86, 519), ('https://muckrack.com/andrea-tan', 86, 8946), ('https://muckrack.com/athena-tan', 86, 14469), ('https://muckrack.com/audrey-tan', 86, 14613), ('https://muckrack.com/bridget-tan', 86, 21784)]
highest matching https://muckrack.com/aaron-tan

processing RYAN J. FOLEY
subset dataframe with foley, found 48 rows
ratios [('https://muckrack.com/adriane-horner-foley', 86, 2160), ('https://muckrack.com/anna-foley', 86, 11415), ('https://muckrack.com/bridget-foley', 86, 21757), ('https://muckrack.com/cliona-foley', 86, 32076), ('https://muckrack.com/colonel-tim-foley', 86, 32646)]
highest matching https://muckrack.com/adriane-horner-foley

processing Raphael Satter
subset dataframe with raphael, found 49 rows
ratios [('https://muckrack.com/angie-raphael', 86, 10892), ('https://muckrack.com/laura-raphael', 86, 91118), ('https://muckrack.com/louis-raphael', 86, 96389), ('https://muckrack.com/raphael-ahren', 86, 126479), ('https://muckrack.com/raphael-balenieri', 86, 126480)]
highest matching https://muckrack.com/angie-raphael

processing Sean O’Riordan
subset dataframe with o’riordan, found 0 rows
no matches

processing Shama Hyder
subset dataframe with shama, found 13 rows
ratios [('https://muckrack.com/shama', 86, 222199), ('https://muckrack.com/shamard-charles', 58, 139278), ('https://muckrack.com/leyla-shamayeva', 58, 201464), ('https://muckrack.com/pshamal', 55, 124826), ('https://muckrack.com/shamane-mills', 55, 139274)]
highest matching https://muckrack.com/shama

processing Kristen A. Graham
subset dataframe with kristen, found 249 rows
ratios [('https://muckrack.com/a-dru-kristenev', 86, 228), ('https://muckrack.com/kristen-adaway', 86, 88741), ('https://muckrack.com/kristen-aiken', 86, 88742), ('https://muckrack.com/kristen-amiet', 86, 88743), ('https://muckrack.com/kristen-anderson-4', 86, 88744)]
highest matching https://muckrack.com/a-dru-kristenev

processing Daniel Patrick Sheehan
subset dataframe with patrick, found 750 rows
ratios [('https://muckrack.com/alvin-patrick', 86, 6649), ('https://muckrack.com/brian-patrick-odonoghue', 86, 21374), ('https://muckrack.com/cary-patrick-martin', 86, 25420), ('https://muckrack.com/cindy-patrick', 86, 31117), ('https://muckrack.com/craig-patrick', 86, 33630)]
highest matching https://muckrack.com/alvin-patrick

processing Kimberly Pierceall
subset dataframe with pierceall, found 1 rows
ratios [('https://muckrack.com/pierceall', 86, 124141)]
highest matching https://muckrack.com/pierceall

processing Lily Hay Newman
subset dataframe with newman, found 110 rows
ratios [('https://muckrack.com/alex-newman', 86, 4252), ('https://muckrack.com/alex-newman-6', 86, 4253), ('https://muckrack.com/alex-newman-9', 86, 4254), ('https://muckrack.com/alexandra-k-newman', 86, 4740), ('https://muckrack.com/amanda-newman', 86, 7162)]
highest matching https://muckrack.com/alex-newman

processing Abhishek Takle
subset dataframe with abhishek, found 26 rows
ratios [('https://muckrack.com/abhishek-angad', 86, 899), ('https://muckrack.com/abhishek-bhalla', 86, 900), ('https://muckrack.com/abhishek-bhaya', 86, 901), ('https://muckrack.com/abhishek-chakraborty-2', 86, 902), ('https://muckrack.com/abhishek-jha', 86, 903)]
highest matching https://muckrack.com/abhishek-angad

processing Isabel Hardman
subset dataframe with hardman, found 7 rows
ratios [('https://muckrack.com/isabelhardman', 86, 61781), ('https://muckrack.com/ray-hardman', 86, 126699), ('https://muckrack.com/brigid-hardman', 86, 169037), ('https://muckrack.com/chris-hardman', 86, 172075), ('https://muckrack.com/jesse-hardman', 86, 191365)]
highest matching https://muckrack.com/isabelhardman

processing David Zurawik
subset dataframe with zurawik, found 1 rows
ratios [('https://muckrack.com/davidzurawik', 86, 39807)]
highest matching https://muckrack.com/davidzurawik

processing Dean Mosiman | Wisconsin State Journal
subset dataframe with mosiman, found 2 rows
ratios [('https://muckrack.com/deanmosiman', 46, 40131), ('https://muckrack.com/graham-mosimann', 38, 56105)]
highest matching https://muckrack.com/deanmosiman

processing Dirk Chatelain World-Herald staff writer
subset dataframe with chatelain, found 5 rows
ratios [('https://muckrack.com/baptiste-ricard-chatelain', 46, 15235), ('https://muckrack.com/berangere-chatelain', 44, 17180), ('https://muckrack.com/kim-chatelain', 42, 87585), ('https://muckrack.com/dirkchatelain', 37, 42284), ('https://muckrack.com/ryanchatelain', 32, 133653)]
highest matching https://muckrack.com/baptiste-ricard-chatelain

processing PAUL DAVENPORT

subset dataframe with davenport, found 33 rows
ratios [('https://muckrack.com/anne-davenport', 86, 11883), ('https://muckrack.com/ashley-davenport', 86, 14014), ('https://muckrack.com/charles-davenport-jr', 86, 26951), ('https://muckrack.com/cole-davenport', 86, 32305), ('https://muckrack.com/curt-davenport', 86, 34060)]
highest matching https://muckrack.com/anne-davenport

processing Nathaniel Cary ncary@postandcourier.com
subset dataframe with nathaniel, found 52 rows
ratios [('https://muckrack.com/nathaniel-oliver', 59, 114979), ('https://muckrack.com/nathaniel-muir', 58, 114978), ('https://muckrack.com/nathaniel-parish-flannery', 57, 114980), ('https://muckrack.com/r-nathaniel-barrows', 57, 125028), ('https://muckrack.com/nathaniel-barker', 56, 114964)]
highest matching https://muckrack.com/nathaniel-oliver

processing Michael Santoli
subset dataframe with michael, found 2389 rows
ratios [('https://muckrack.com/michaelsantoli', 87, 109439), ('https://muckrack.com/aaron-michael-1', 86, 439), ('https://muckrack.com/adam-michael', 86, 1501), ('https://muckrack.com/akrit-michael', 86, 2870), ('https://muckrack.com/alex-michael', 86, 4219)]
highest matching https://muckrack.com/michaelsantoli

processing Brenna Ehrlich
subset dataframe with ehrlich, found 10 rows
ratios [('https://muckrack.com/ali-ehrlich', 86, 5281), ('https://muckrack.com/april-ehrlich', 86, 13052), ('https://muckrack.com/brennaehrlich', 86, 20614), ('https://muckrack.com/fred-ehrlich', 86, 52339), ('https://muckrack.com/marcio-ehrlich', 86, 99548)]
highest matching https://muckrack.com/ali-ehrlich

processing PETE IACOBELLI
subset dataframe with iacobelli, found 1 rows
ratios [('https://muckrack.com/piacobelli_ap', 66, 124127)]
highest matching https://muckrack.com/piacobelli_ap

processing Alex Spink
subset dataframe with spink, found 12 rows
ratios [('https://muckrack.com/alan-spink', 86, 3226), ('https://muckrack.com/alexspinkmirror', 81, 5139), ('https://muckrack.com/annabel-spinks-jones', 72, 11722), ('https://muckrack.com/ashley-spinks', 72, 14220), ('https://muckrack.com/jez-spinks', 63, 71401)]
highest matching https://muckrack.com/alan-spink

processing Alex Massie
subset dataframe with massie, found 5 rows
ratios [('https://muckrack.com/alexmassie', 86, 5105), ('https://muckrack.com/allan-massie', 86, 6122), ('https://muckrack.com/chris-massie', 86, 29000), ('https://muckrack.com/angela-massie', 86, 164057), ('https://muckrack.com/hugh-massie-1', 86, 186581)]
highest matching https://muckrack.com/alexmassie

processing Tom Shatel World-Herald staff writer
subset dataframe with shatel, found 1 rows
ratios [('https://muckrack.com/tomshatelowh', 35, 152697)]
highest matching https://muckrack.com/tomshatelowh

processing Anushka Asthana
subset dataframe with anushka, found 3 rows
ratios [('https://muckrack.com/anushkaasthana', 87, 12927), ('https://muckrack.com/anushka-arora', 86, 12925), ('https://muckrack.com/anushka-patil', 86, 12926)]
highest matching https://muckrack.com/anushkaasthana

processing Fiona Hamilton, Crime Editor
subset dataframe with hamilton, found 156 rows
ratios [('https://muckrack.com/celeste-hamilton-dennis', 86, 26441), ('https://muckrack.com/emelia-hamilton-russell', 86, 46796), ('https://muckrack.com/isobel-asher-hamilton', 86, 61931), ('https://muckrack.com/jennifer-hamilton-mccharles', 86, 69141), ('https://muckrack.com/patrick-hamilton-courtney', 86, 120526)]
highest matching https://muckrack.com/celeste-hamilton-dennis

processing SOPHIA TAREEN
subset dataframe with sophia, found 107 rows
ratios [('https://muckrack.com/ariel-sophia-bardi', 86, 13346), ('https://muckrack.com/jessica-sophia-wong', 86, 71075), ('https://muckrack.com/mary-sophia', 86, 103453), ('https://muckrack.com/sophia-akram', 86, 142262), ('https://muckrack.com/sophia-aldous', 86, 142263)]
highest matching https://muckrack.com/ariel-sophia-bardi

processing Jacob Calvin Meyer
subset dataframe with calvin, found 46 rows
ratios [('https://muckrack.com/alex-calvin', 86, 3888), ('https://muckrack.com/calvin-ayre-1', 86, 23557), ('https://muckrack.com/calvin-barnett-1', 86, 23558), ('https://muckrack.com/calvin-biesecker', 86, 23559), ('https://muckrack.com/calvin-bratt-1', 86, 23560)]
highest matching https://muckrack.com/alex-calvin

processing Will Bunch
subset dataframe with bunch, found 11 rows
ratios [('https://muckrack.com/aaron-bunch', 86, 321), ('https://muckrack.com/erin-bunch-4', 86, 49273), ('https://muckrack.com/heidi-bunch', 86, 59011), ('https://muckrack.com/joey-bunch', 86, 74259), ('https://muckrack.com/kevin-bunch', 86, 86664)]
highest matching https://muckrack.com/aaron-bunch

processing Piers Morgan
subset dataframe with morgan, found 414 rows
ratios [('https://muckrack.com/abigail-daisy-morgan', 86, 955), ('https://muckrack.com/adam-morgan-1', 86, 1513), ('https://muckrack.com/adam-morgan-3', 86, 1514), ('https://muckrack.com/alexandra-morgan', 86, 4776), ('https://muckrack.com/andy-morgan', 86, 10287)]
highest matching https://muckrack.com/abigail-daisy-morgan

processing Rob Sheffield
subset dataframe with sheffield, found 10 rows
ratios [('https://muckrack.com/carrie-sheffield', 86, 25325), ('https://muckrack.com/emily-sheffield', 86, 47382), ('https://muckrack.com/mike-sheffield', 86, 111075), ('https://muckrack.com/brandon-sheffield-1', 86, 168317), ('https://muckrack.com/paige-sheffield', 86, 213203)]
highest matching https://muckrack.com/carrie-sheffield

processing Michael Taylor
subset dataframe with michael, found 2389 rows
ratios [('https://muckrack.com/michael-taylor-4', 90, 109211), ('https://muckrack.com/michael-taylor-6', 90, 109212), ('https://muckrack.com/michael-taylor-15', 90, 208573), ('https://muckrack.com/aaron-michael-1', 86, 439), ('https://muckrack.com/adam-michael', 86, 1501)]
highest matching https://muckrack.com/michael-taylor-4

processing Libby Brooks
subset dataframe with brooks, found 184 rows
ratios [('https://muckrack.com/abigail-brooks', 86, 944), ('https://muckrack.com/adam-brooks-1', 86, 1218), ('https://muckrack.com/alison-brooks', 86, 5784), ('https://muckrack.com/andrew-brooks-5', 86, 9205), ('https://muckrack.com/bill-brooks', 86, 18082)]
highest matching https://muckrack.com/abigail-brooks

processing Frederick N. Rasmussen
subset dataframe with frederick, found 53 rows
ratios [('https://muckrack.com/brian-frederick-2', 86, 21108), ('https://muckrack.com/brittany-frederick-2', 86, 21984), ('https://muckrack.com/denver-frederick', 86, 41185), ('https://muckrack.com/don-frederick', 86, 42751), ('https://muckrack.com/frederick-acheampong', 86, 52471)]
highest matching https://muckrack.com/brian-frederick-2

processing Robert Feder
subset dataframe with robert, found 1455 rows
ratios [('https://muckrack.com/alain-jean-robert', 86, 3004), ('https://muckrack.com/aline-robert', 86, 5711), ('https://muckrack.com/amanda-robert-2', 86, 7201), ('https://muckrack.com/bogdan-robert-mates', 86, 19513), ('https://muckrack.com/dag-robert-jerijervi', 86, 34384)]
highest matching https://muckrack.com/alain-jean-robert

processing Lawrence Hurley
subset dataframe with lawrence, found 186 rows
ratios [('https://muckrack.com/lawrencehurley', 87, 92232), ('https://muckrack.com/adam-lawrence', 86, 1454), ('https://muckrack.com/alan-lawrence-3', 86, 3145), ('https://muckrack.com/alistair-lawrence', 86, 6020), ('https://muckrack.com/amy-lawrence', 86, 8006)]
highest matching https://muckrack.com/lawrencehurley

processing Robert Kitson
subset dataframe with robert, found 1455 rows
ratios [('https://muckrack.com/alain-jean-robert', 86, 3004), ('https://muckrack.com/aline-robert', 86, 5711), ('https://muckrack.com/amanda-robert-2', 86, 7201), ('https://muckrack.com/bogdan-robert-mates', 86, 19513), ('https://muckrack.com/dag-robert-jerijervi', 86, 34384)]
highest matching https://muckrack.com/alain-jean-robert

processing Rickey Ciapha Dennis Jr. rdennis@postandcourier.com
subset dataframe with rickey, found 10 rows
ratios [('https://muckrack.com/carrierickey', 86, 25346), ('https://muckrack.com/erick-trickey', 86, 48976), ('https://muckrack.com/rickey-rogers', 86, 129237), ('https://muckrack.com/rickey-smiley', 86, 129238), ('https://muckrack.com/sue-brickey', 86, 145834)]
highest matching https://muckrack.com/carrierickey

processing Matthew J. Belvedere

subset dataframe with belvedere, found 2 rows
ratios [('https://muckrack.com/matthew-belvedere', 86, 104845), ('https://muckrack.com/bernybelvedere', 58, 17309)]
highest matching https://muckrack.com/matthew-belvedere

processing Matthew J. Belvedere,Peter Schacknow
subset dataframe with belvedere, found 2 rows
ratios [('https://muckrack.com/matthew-belvedere', 66, 104845), ('https://muckrack.com/bernybelvedere', 53, 17309)]
highest matching https://muckrack.com/matthew-belvedere

processing Carolyn Cohn
subset dataframe with carolyn, found 196 rows
ratios [('https://muckrack.com/carolyn-adolph', 86, 25127), ('https://muckrack.com/carolyn-alburger', 86, 25128), ('https://muckrack.com/carolyn-bahm', 86, 25129), ('https://muckrack.com/carolyn-bailey-1', 86, 25130), ('https://muckrack.com/carolyn-beans', 86, 25131)]
highest matching https://muckrack.com/carolyn-adolph

processing Afdhel Aziz
subset dataframe with afdhel, found 1 rows
ratios [('https://muckrack.com/afdhel-aziz', 90, 160518)]
highest matching https://muckrack.com/afdhel-aziz

processing Ryan O’Rourke
subset dataframe with o’rourke, found 0 rows
no matches

processing Barney Ronay
subset dataframe with barney, found 32 rows
ratios [('https://muckrack.com/barney-breen-portnoy', 86, 15470), ('https://muckrack.com/barney-calman', 86, 15471), ('https://muckrack.com/barney-cotton', 86, 15472), ('https://muckrack.com/barney-cox', 86, 15473), ('https://muckrack.com/barney-cullum', 86, 15474)]
highest matching https://muckrack.com/barney-breen-portnoy

processing April Joyner
subset dataframe with joyner, found 10 rows
ratios [('https://muckrack.com/alfred-joyner', 86, 5211), ('https://muckrack.com/chris-joyner', 86, 28850), ('https://muckrack.com/david-joyner', 86, 38705), ('https://muckrack.com/jaz-joyner-1', 86, 67117), ('https://muckrack.com/michael-joyner-2', 86, 108661)]
highest matching https://muckrack.com/alfred-joyner

processing KEITH SPERA | Staff writer
subset dataframe with keith, found 361 rows
ratios [('https://muckrack.com/keith-e-heffintrayer', 86, 85060), ('https://muckrack.com/keith-montgomery-1', 86, 85137), ('https://muckrack.com/keith-richardson-1', 86, 85162), ('https://muckrack.com/terri-vermeulen-keith', 86, 148868), ('https://muckrack.com/keith-anthony-fabro', 86, 197649)]
highest matching https://muckrack.com/keith-e-heffintrayer

processing Todd Haselton
subset dataframe with haselton, found 0 rows
no matches

processing Rothko Research
subset dataframe with rothko, found 4 rows
ratios [('https://muckrack.com/joanna-rothkopf', 57, 72939), ('https://muckrack.com/david-rothkopf-1', 57, 176789), ('https://muckrack.com/marissarothkopf', 51, 101060), ('https://muckrack.com/joshrothkopf', 45, 78706)]
highest matching https://muckrack.com/joanna-rothkopf

processing Kevin Myatt | The Roanoke Times
subset dataframe with kevin, found 922 rows
ratios [('https://muckrack.com/meteorologist-kevin-arnone', 86, 107878), ('https://muckrack.com/kevin-shields', 56, 87089), ('https://muckrack.com/kevin-tibbles', 56, 87117), ('https://muckrack.com/kevin-tetz', 56, 198610), ('https://muckrack.com/kevin-pitts', 55, 87022)]
highest matching https://muckrack.com/meteorologist-kevin-arnone

processing TOM OATES For the State Journal
subset dataframe with oates, found 42 rows
ratios [('https://muckrack.com/tom-oates', 48, 152170), ('https://muckrack.com/diana-oates', 47, 41767), ('https://muckrack.com/barb-oates', 45, 15257), ('https://muckrack.com/sean-oates', 45, 138494), ('https://muckrack.com/john-oates', 45, 193574)]
highest matching https://muckrack.com/tom-oates

processing Steven J. Vaughan-Nichols
subset dataframe with vaughan, found 46 rows
ratios [('https://muckrack.com/michael-vaughan-1', 86, 109241), ('https://muckrack.com/michael-vaughan-2', 86, 109242), ('https://muckrack.com/s-vaughan-nichols', 86, 133797), ('https://muckrack.com/earl-vaughan-jr-1', 86, 179203), ('https://muckrack.com/steve-vaughan', 58, 145034)]
highest matching https://muckrack.com/michael-vaughan-1

processing Alexia Elejalde-Ruiz
subset dataframe with elejalde, found 0 rows
no matches

processing Stephen O’Brien, Political Editor
subset dataframe with stephen, found 785 rows
ratios [('https://muckrack.com/stephen-di-benedetto', 59, 143909), ('https://muckrack.com/stephen-bronner', 55, 143863), ('https://muckrack.com/bret-stephens', 53, 20749), ('https://muckrack.com/stephen-bohlinger', 53, 143855), ('https://muckrack.com/stephen-breen', 53, 143861)]
highest matching https://muckrack.com/stephen-di-benedetto

processing Wallace Witkowski
subset dataframe with witkowski, found 4 rows
ratios [('https://muckrack.com/danne-witkowski', 86, 36672), ('https://muckrack.com/wayne-witkowski', 86, 156723), ('https://muckrack.com/rachelwitkowski', 64, 125724), ('https://muckrack.com/wmwitkowski', 61, 157900)]
highest matching https://muckrack.com/danne-witkowski

processing Veronica  M. Cruz | This Is Tucson
subset dataframe with veronica, found 84 rows
ratios [('https://muckrack.com/veronica-cruz-1', 66, 155254), ('https://muckrack.com/veronica-bautista', 58, 155244), ('https://muckrack.com/veronica-chambers', 58, 155250), ('https://muckrack.com/veronica-simpson-1', 57, 155277), ('https://muckrack.com/veronica-macias', 56, 155265)]
highest matching https://muckrack.com/veronica-cruz-1

processing Daniela Altimari
subset dataframe with altimari, found 1 rows
ratios [('https://muckrack.com/davealtimari', 62, 37885)]
highest matching https://muckrack.com/davealtimari

processing Ken Herman
subset dataframe with herman, found 162 rows
ratios [('https://muckrack.com/adam-herman', 86, 1384), ('https://muckrack.com/alison-herman', 86, 5838), ('https://muckrack.com/andy-herman', 86, 10188), ('https://muckrack.com/carol-herman', 86, 24709), ('https://muckrack.com/casey-herman', 86, 25485)]
highest matching https://muckrack.com/adam-herman

processing Charles M. Blow
subset dataframe with charles, found 400 rows
ratios [('https://muckrack.com/andy-charles', 86, 10104), ('https://muckrack.com/ann-charles', 86, 11186), ('https://muckrack.com/anthony-charles', 86, 12456), ('https://muckrack.com/caitlan-charles', 86, 23197), ('https://muckrack.com/charles-adler', 86, 26916)]
highest matching https://muckrack.com/andy-charles

processing Brendan J. Lyons
subset dataframe with brendan, found 164 rows
ratios [('https://muckrack.com/brendan-agans', 86, 20464), ('https://muckrack.com/brendan-annakin', 86, 20465), ('https://muckrack.com/brendan-baker', 86, 20466), ('https://muckrack.com/brendan-bale', 86, 20467), ('https://muckrack.com/brendan-berube', 86, 20468)]
highest matching https://muckrack.com/brendan-agans

processing Eric Connor econnor@postandcourier.com
subset dataframe with connor, found 271 rows
ratios [('https://muckrack.com/connor-craig-jackson', 54, 32760), ('https://muckrack.com/connor-benintendi', 54, 173850), ('https://muckrack.com/star-connor', 53, 143060), ('https://muckrack.com/connor-ferrill', 53, 173854), ('https://muckrack.com/darrick-connor', 53, 175770)]
highest matching https://muckrack.com/connor-craig-jackson

processing Emily Opilo
subset dataframe with emily, found 921 rows
ratios [('https://muckrack.com/ask-emily', 86, 14393), ('https://muckrack.com/emily-abbate', 86, 46908), ('https://muckrack.com/emily-adam', 86, 46909), ('https://muckrack.com/emily-akiyama', 86, 46910), ('https://muckrack.com/emily-alhadeff', 86, 46911)]
highest matching https://muckrack.com/ask-emily

processing HOLLY RAMER
subset dataframe with holly, found 241 rows
ratios [('https://muckrack.com/amanda-holly', 86, 7051), ('https://muckrack.com/chris-holly', 86, 28775), ('https://muckrack.com/holly-andres', 86, 59966), ('https://muckrack.com/holly-bancroft', 86, 59967), ('https://muckrack.com/holly-barraclough-1', 86, 59968)]
highest matching https://muckrack.com/amanda-holly

processing Jennifer A. Kingson
subset dataframe with jennifer, found 999 rows
ratios [('https://muckrack.com/jennifer-a-bryant', 86, 68912), ('https://muckrack.com/jennifer-a-burman', 86, 68913), ('https://muckrack.com/jennifer-ablan', 86, 68914), ('https://muckrack.com/jennifer-acevedo', 86, 68915), ('https://muckrack.com/jennifer-ackerman', 86, 68916)]

highest matching https://muckrack.com/jennifer-a-bryant

processing @jamescrugnale
subset dataframe with jamescrugnale, found 0 rows
no matches

processing David P. Funk Times Correspondent
subset dataframe with david, found 2995 rows
ratios [('https://muckrack.com/david-olivier-jaquet-chiffelle', 86, 176706), ('https://muckrack.com/david-funk', 53, 176377), ('https://muckrack.com/david-priest', 51, 39115), ('https://muckrack.com/david-petrie', 51, 176736), ('https://muckrack.com/david-priess', 51, 176755)]
highest matching https://muckrack.com/david-olivier-jaquet-chiffelle

processing Des O’Driscoll
subset dataframe with o’driscoll, found 0 rows
no matches

processing Des O’Sullivan
subset dataframe with o’sullivan, found 0 rows
no matches

processing Joe McKendrick
subset dataframe with mckendrick, found 2 rows
ratios [('https://muckrack.com/devon-mckendrick', 86, 41567), ('https://muckrack.com/joemckendrick', 84, 192952)]
highest matching https://muckrack.com/devon-mckendrick

processing Joann Muller
subset dataframe with muller, found 55 rows
ratios [('https://muckrack.com/adelheid-muller-lissner', 86, 1884), ('https://muckrack.com/anna-muller', 86, 11559), ('https://muckrack.com/antoinette-muller', 86, 12726), ('https://muckrack.com/armin-muller', 86, 13517), ('https://muckrack.com/ayurella-horn-muller', 86, 15030)]
highest matching https://muckrack.com/adelheid-muller-lissner

processing Ed Treleven | Wisconsin State Journal
subset dataframe with treleven, found 0 rows
no matches

processing Jeremy C. Owens
subset dataframe with jeremy, found 408 rows
ratios [('https://muckrack.com/jeremy-abbott', 86, 69832), ('https://muckrack.com/jeremy-adriana-mitchell', 86, 69833), ('https://muckrack.com/jeremy-aitken', 86, 69834), ('https://muckrack.com/jeremy-alford', 86, 69835), ('https://muckrack.com/jeremy-anderberg', 86, 69836)]
highest matching https://muckrack.com/jeremy-abbott

processing Anna B. Mitchell amitchell@postandcourier.com
subset dataframe with mitchell, found 302 rows
ratios [('https://muckrack.com/anna-mitchell', 66, 11554), ('https://muckrack.com/anna-mitchell-4', 64, 11555), ('https://muckrack.com/anna-mitchell-7', 64, 164425), ('https://muckrack.com/alanna-mitchell', 59, 160993), ('https://muckrack.com/e-mitchell', 56, 179184)]
highest matching https://muckrack.com/anna-mitchell

processing Ari Levy
subset dataframe with levy, found 107 rows
ratios [('https://muckrack.com/adam-levy-1', 86, 1463), ('https://muckrack.com/adam-levy-4', 86, 1464), ('https://muckrack.com/adam-p-levy', 86, 1543), ('https://muckrack.com/adam-s-levy', 86, 1611), ('https://muckrack.com/aidan-levy', 86, 2490)]
highest matching https://muckrack.com/adam-levy-1

processing Archie Bland
subset dataframe with archie, found 10 rows
ratios [('https://muckrack.com/archie-henderson', 86, 13166), ('https://muckrack.com/archie-hunter', 86, 13167), ('https://muckrack.com/archie-rhind-tutt', 86, 13168), ('https://muckrack.com/archiebland', 86, 13169), ('https://muckrack.com/archie-howard', 86, 165122)]
highest matching https://muckrack.com/archie-henderson

processing Rex Huppke
subset dataframe with huppke, found 1 rows
ratios [('https://muckrack.com/rex-w-huppke', 86, 127965)]
highest matching https://muckrack.com/rex-w-huppke

processing Sanjay Kumar Singh
subset dataframe with sanjay, found 19 rows
ratios [('https://muckrack.com/raksha-sanjay-nag', 86, 126082), ('https://muckrack.com/sanjay-basak', 86, 135669), ('https://muckrack.com/sanjay-grover', 86, 135670), ('https://muckrack.com/sanjay-jog', 86, 135671), ('https://muckrack.com/sanjay-mishra', 86, 135672)]
highest matching https://muckrack.com/raksha-sanjay-nag

processing Barbara Hoberock Tulsa World
subset dataframe with hoberock, found 1 rows
ratios [('https://muckrack.com/bhoberock', 48, 17865)]
highest matching https://muckrack.com/bhoberock

processing Sandra O’Connell
subset dataframe with o’connell, found 0 rows
no matches

processing Sandip G
subset dataframe with sandip, found 3 rows
ratios [('https://muckrack.com/sandip-roy', 86, 135416), ('https://muckrack.com/sandip-sen', 86, 135417), ('https://muckrack.com/sandip-hor', 86, 220577)]
highest matching https://muckrack.com/sandip-roy

processing Patricia Zengerle
subset dataframe with patricia, found 208 rows
ratios [('https://muckrack.com/lara-patricia-gargarutea', 86, 90284), ('https://muckrack.com/m-patricia-titus', 86, 97918), ('https://muckrack.com/patricia-a-hines', 86, 120255), ('https://muckrack.com/patricia-a-matas', 86, 120256), ('https://muckrack.com/patricia-alfonso-tortolani', 86, 120257)]
highest matching https://muckrack.com/lara-patricia-gargarutea

processing Tyler Kepner
subset dataframe with kepner, found 2 rows
ratios [('https://muckrack.com/tylerkepner', 86, 154405), ('https://muckrack.com/jkepnerwftv', 52, 72571)]
highest matching https://muckrack.com/tylerkepner

processing Aby Jose Koilparambil
subset dataframe with koilparambil, found 0 rows
no matches

processing Anuja
subset dataframe with anuja, found 3 rows
ratios [('https://muckrack.com/anuja-jaiswal', 90, 12893), ('https://muckrack.com/anuja-nadkarni', 90, 12894), ('https://muckrack.com/anuja-vaidya', 90, 12895)]
highest matching https://muckrack.com/anuja-jaiswal

processing Jessica Radloff
subset dataframe with jessica, found 896 rows
ratios [('https://muckrack.com/jessica-radloff-4', 90, 71015), ('https://muckrack.com/730dc-jessica-sheng', 86, 196), ('https://muckrack.com/jessica-a-botelho', 86, 70600), ('https://muckrack.com/jessica-a-goodheart', 86, 70601), ('https://muckrack.com/jessica-aguirre', 86, 70602)]
highest matching https://muckrack.com/jessica-radloff-4

processing Deborah Laverty Times Correspondent
subset dataframe with deborah, found 207 rows
ratios [('https://muckrack.com/deborah-froese', 50, 40387), ('https://muckrack.com/deborah-henley', 50, 177316), ('https://muckrack.com/deborah-crowe', 48, 40368), ('https://muckrack.com/deborah-devine', 48, 40371), ('https://muckrack.com/deborah-fraser', 48, 40385)]
highest matching https://muckrack.com/deborah-froese

processing KATHLEEN RONAYNE
subset dataframe with kathleen, found 167 rows
ratios [('https://muckrack.com/kathleen-a-schultz', 86, 83466), ('https://muckrack.com/kathleen-alleaume', 86, 83467), ('https://muckrack.com/kathleen-barkley', 86, 83468), ('https://muckrack.com/kathleen-beckett', 86, 83469), ('https://muckrack.com/kathleen-biggins', 86, 83470)]
highest matching https://muckrack.com/kathleen-a-schultz

processing ANNA LIZ NICHOLS
subset dataframe with nichols, found 118 rows
ratios [('https://muckrack.com/adam-nichols', 86, 1532), ('https://muckrack.com/andrew-nichols-1', 86, 9657), ('https://muckrack.com/beth-ann-nichols', 86, 17370), ('https://muckrack.com/beth-nichols', 86, 17485), ('https://muckrack.com/bridget-nichols', 86, 21774)]
highest matching https://muckrack.com/adam-nichols

processing Iliana Limón Romero
subset dataframe with iliana, found 16 rows
ratios [('https://muckrack.com/iliana-lavastida', 86, 61216), ('https://muckrack.com/iliana-guevara', 86, 186958), ('https://muckrack.com/ms-iliana', 86, 210395), ('https://muckrack.com/liliana-di-donato', 58, 93928), ('https://muckrack.com/liliana-marin', 57, 93933)]
highest matching https://muckrack.com/iliana-lavastida

processing Ewing Grahame
subset dataframe with grahame, found 2 rows
ratios [('https://muckrack.com/grahame-farmer-1', 86, 56148), ('https://muckrack.com/grahame-larter', 86, 56149)]
highest matching https://muckrack.com/grahame-farmer-1

processing ALEXANDRA JAFFE
subset dataframe with alexandra, found 283 rows
ratios [('https://muckrack.com/alexandra-a-mushegian', 86, 4664), ('https://muckrack.com/alexandra-alexa', 86, 4665), ('https://muckrack.com/alexandra-alper', 86, 4666), ('https://muckrack.com/alexandra-alter', 86, 4667), ('https://muckrack.com/alexandra-anastasio', 86, 4668)]
highest matching https://muckrack.com/alexandra-a-mushegian

processing Andy Bull
subset dataframe with andy, found 1096 rows
ratios [('https://muckrack.com/andy-abeyta', 86, 10049), ('https://muckrack.com/andy-alcock', 86, 10050), ('https://muckrack.com/andy-alford', 86, 10051), ('https://muckrack.com/andy-amey', 86, 10052), ('https://muckrack.com/andy-andrews-1', 86, 10053)]

highest matching https://muckrack.com/andy-abeyta

processing Gabrielle Russon
subset dataframe with gabrielle, found 108 rows
ratios [('https://muckrack.com/gabriellerusson', 87, 52953), ('https://muckrack.com/gabrielle-ake', 86, 52879), ('https://muckrack.com/gabrielle-albert', 86, 52880), ('https://muckrack.com/gabrielle-bellot', 86, 52881), ('https://muckrack.com/gabrielle-bernardini', 86, 52882)]
highest matching https://muckrack.com/gabriellerusson

processing AW CHENG WEI
subset dataframe with cheng, found 54 rows
ratios [('https://muckrack.com/amy-cheng-aap', 86, 7847), ('https://muckrack.com/andrea-cheng', 86, 8757), ('https://muckrack.com/andrew-cheng', 86, 9246), ('https://muckrack.com/candy-cheng', 86, 23919), ('https://muckrack.com/cheng-ting-fang', 86, 27740)]
highest matching https://muckrack.com/amy-cheng-aap

processing JENNA FRYER
subset dataframe with jenna, found 178 rows
ratios [('https://muckrack.com/jenna-abdou', 86, 68724), ('https://muckrack.com/jenna-anderson', 86, 68725), ('https://muckrack.com/jenna-autuori', 86, 68726), ('https://muckrack.com/jenna-bagcal', 86, 68727), ('https://muckrack.com/jenna-barnes', 86, 68728)]
highest matching https://muckrack.com/jenna-abdou

processing Erin Arvedlund
subset dataframe with arvedlund, found 1 rows
ratios [('https://muckrack.com/erin-e-arvedlund', 86, 49313)]
highest matching https://muckrack.com/erin-e-arvedlund

processing Mark Atherton
subset dataframe with atherton, found 13 rows
ratios [('https://muckrack.com/beau-atherton', 86, 15859), ('https://muckrack.com/emily-atherton', 86, 46922), ('https://muckrack.com/eric-atherton', 86, 48278), ('https://muckrack.com/kelsey-atherton', 86, 85707), ('https://muckrack.com/matt-atherton', 86, 103856)]
highest matching https://muckrack.com/beau-atherton

processing RALPH D. RUSSO  AP College Football Writer
subset dataframe with ralph, found 90 rows
ratios [('https://muckrack.com/ralph-walter', 46, 126126), ('https://muckrack.com/ralph-warner', 46, 126127), ('https://muckrack.com/ralph-winterrowd', 46, 216373), ('https://muckrack.com/ralph-whitmore', 45, 126128), ('https://muckrack.com/ralph-stewart-2', 44, 126123)]
highest matching https://muckrack.com/ralph-walter

processing TIFFANY FUMIKO TAY
subset dataframe with tiffany, found 148 rows
ratios [('https://muckrack.com/lynn-tiffany', 86, 97788), ('https://muckrack.com/phonechick-tiffany', 86, 124073), ('https://muckrack.com/tiffany-alaniz', 86, 150085), ('https://muckrack.com/tiffany-ap', 86, 150086), ('https://muckrack.com/tiffany-arment', 86, 150087)]
highest matching https://muckrack.com/lynn-tiffany

processing Phillip Inman
subset dataframe with phillip, found 354 rows
ratios [('https://muckrack.com/mark-phillip', 86, 101880), ('https://muckrack.com/melissa-phillip', 86, 107478), ('https://muckrack.com/nicole-phillip', 86, 117132), ('https://muckrack.com/peggy-phillip', 86, 122245), ('https://muckrack.com/phillip-a-ash', 86, 123937)]
highest matching https://muckrack.com/mark-phillip

processing Paola Pérez
subset dataframe with paola, found 39 rows
ratios [('https://muckrack.com/maria-paola-flores', 86, 100262), ('https://muckrack.com/paola-alberdi', 86, 119901), ('https://muckrack.com/paola-alin-1', 86, 119902), ('https://muckrack.com/paola-capoferro', 86, 119903), ('https://muckrack.com/paola-chavez', 86, 119904)]
highest matching https://muckrack.com/maria-paola-flores

processing Mike Gangloff mike.gangloff@roanoke.com 540-381-1669
subset dataframe with gangloff, found 1 rows
ratios [('https://muckrack.com/mikegangloffrt', 51, 111339)]
highest matching https://muckrack.com/mikegangloffrt

processing Paul MacInnes
subset dataframe with macinnes, found 3 rows
ratios [('https://muckrack.com/billy-macinnes', 86, 18632), ('https://muckrack.com/hannah-macinnes', 86, 57811), ('https://muckrack.com/john-a-macinnes', 86, 74439)]
highest matching https://muckrack.com/billy-macinnes

processing Rick Fulton
subset dataframe with fulton, found 23 rows
ratios [('https://muckrack.com/catharine-fulton', 86, 25790), ('https://muckrack.com/colm-fulton', 86, 32634), ('https://muckrack.com/dana-fulton', 86, 35468), ('https://muckrack.com/tim-fulton', 86, 150401), ('https://muckrack.com/wil-fulton', 86, 157182)]
highest matching https://muckrack.com/catharine-fulton

processing Daniel Hurst
subset dataframe with daniel, found 1587 rows
ratios [('https://muckrack.com/aaron-daniel', 86, 344), ('https://muckrack.com/alex-daniel', 86, 3944), ('https://muckrack.com/alex-daniel-1', 86, 3945), ('https://muckrack.com/alice-daniel', 86, 5415), ('https://muckrack.com/angel-daniel-torres', 86, 10523)]
highest matching https://muckrack.com/aaron-daniel

processing Larry Lage
subset dataframe with larry, found 285 rows
ratios [('https://muckrack.com/funky-larry-jones', 86, 52611), ('https://muckrack.com/greg-larry-1', 86, 56472), ('https://muckrack.com/larry-aldridge', 86, 90348), ('https://muckrack.com/larry-alton', 86, 90349), ('https://muckrack.com/larry-anderson-6', 86, 90350)]
highest matching https://muckrack.com/funky-larry-jones

processing Amanda Cuda
subset dataframe with amanda, found 648 rows
ratios [('https://muckrack.com/amanda-abrams', 86, 6900), ('https://muckrack.com/amanda-adame', 86, 6901), ('https://muckrack.com/amanda-agee', 86, 6902), ('https://muckrack.com/amanda-aguilar', 86, 6903), ('https://muckrack.com/amanda-akass', 86, 6904)]
highest matching https://muckrack.com/amanda-abrams

processing MATTHEW PERRONE
subset dataframe with matthew, found 886 rows
ratios [('https://muckrack.com/harry-matthew', 86, 58301), ('https://muckrack.com/matthew-aaron-2', 86, 104811), ('https://muckrack.com/matthew-abbey', 86, 104812), ('https://muckrack.com/matthew-ablon', 86, 104813), ('https://muckrack.com/matthew-adams-5', 86, 104814)]
highest matching https://muckrack.com/harry-matthew

In [ ]:
data

In [ ]:
s = 'https://muckrack.com/kathleen_osullivan'[21:].split('-')

In [ ]:
data[data.author == 'Vanessa Hand Orellana']

In [ ]:
Dr. 
@pang-chieh
By

In [ ]:
str2Match = "Vanessa Hand Orellana"
strOptions = list(muckrack[muckrack.url.str.contains('vanessa')].url)
Ratios = process.extract(str2Match,strOptions)
print(Ratios)
# You can also select the string with the highest matching percentage
highest = process.extractOne(str2Match,strOptions)
print(highest[0])